[2020-07-12 19:16] buckyroberts opened #18 "This is an issue"
Something is broken

[2020-07-12 19:20] #18 closed, assigned to nobody

[2020-07-12 19:20] buckyroberts opened #19 "Primary Validator API docs"

[2020-07-12 19:20] buckyroberts opened #20 "Confirmation Validator API docs"

[2020-07-13 22:41] buckyroberts opened #30 "Responsive top navigation/header"
Responsive top navigation/header needed

<img width="759" alt="Screen Shot 2020-07-13 at 3 37 56 PM" src="https://user-images.githubusercontent.com/8547538/87360544-34e06280-c51f-11ea-8105-f6b518bdde49.png">

[2020-07-13 22:43] buckyroberts opened #31 "Homepage design"
Homepage needs general design improvements

![screencapture-localhost-3000-2020-07-13-15_42_05](https://user-images.githubusercontent.com/8547538/87360735-99032680-c51f-11ea-946c-5c2a76073702.png)

[2020-07-13 22:44] buckyroberts opened #32 "Contributors page design"
Contributors page needs designs

![screencapture-localhost-3000-contributors-2020-07-13-15_42_18](https://user-images.githubusercontent.com/8547538/87360818-c059f380-c51f-11ea-8fb0-dadf0fd7742b.png)

[2020-07-13 22:46] buckyroberts opened #33 "Update deployment guide"
- review deployment guides
- replace references to "Validator" in the bank guide

[2020-07-13 23:00] buckyroberts opened #35 "Fix Using target="_blank" without rel="noopener noreferrer" warning"
Fix build warning

<img width="515" alt="Screen Shot 2020-07-13 at 3 58 58 PM" src="https://user-images.githubusercontent.com/8547538/87361809-e2547580-c521-11ea-933f-d16601566543.png">

[2020-07-13 23:41] buckyroberts opened #39 "Responsive left menu"
Early analytics are showing that the majority of the users are coming in from mobile.

<img width="346" alt="Screen Shot 2020-07-13 at 4 40 04 PM" src="https://user-images.githubusercontent.com/8547538/87364111-973d6100-c527-11ea-9063-b105f003c047.png">

<img width="585" alt="Screen Shot 2020-07-13 at 4 37 54 PM" src="https://user-images.githubusercontent.com/8547538/87364004-51809880-c527-11ea-92

[2020-07-14 15:56] buckyroberts opened #42 "Contributors page design"
Contributors page needs redesigned

### Current page
[https://thenewboston.com/contributors](https://thenewboston.com/contributors)

### Figma mocks
https://www.figma.com/file/UQ6kcxls0hpewOrZh7Eie3/Contributor-Page?node-id=7%3A150

### New design
<img width="1412" alt="Screen Shot 2020-07-14 at 10 00 17 AM" src="https://user-images.githubusercontent.com/8547538/87454457-d667c280-c5b8-11ea-8da0-21

[2020-07-14 17:30] kirito25 opened #43 "Slack link does not work."
When attempting to join the Slack I get the following.

![Screenshot from 2020-07-14 10-29-41](https://user-images.githubusercontent.com/10426292/87457322-044f0600-c5bd-11ea-8c0d-5e5d7698d4d1.png)

[2020-07-14 20:14] buckyroberts commented on #43
fixed

[2020-07-14 20:14] #43 closed

[2020-07-14 21:23] #35 closed

[2020-07-16 01:25] buckyroberts opened #49 "Create roadmap component"
Create roadmap component where we can:

- have teams (to group tasks)
- assign tasks to teams
- each task will be on it's own row (not multiple colors/tasks on the same row like in the diagram)
- in the colored rectangle area, there will be no text (since the task text will be on the left)
- ensure each teams tasks share a similar color
- set a range of 0-4 on the tasks to represent the Q1-Q4 rang

[2020-07-16 03:59] Senior-Hayato-Suzuki commented on #49
Awesome !!!

[2020-07-16 15:54] Hristijan95 commented on #49
Any ideas on how should we make it responsive? From a design point of view

[2020-07-16 18:24] jacobclevenger commented on #39
The menu currently does not respond to the browser being resized. Consider adding a denounced window resize watcher to close the menu if the screen is small enough or open it if the screen is large enough.

[2020-07-16 19:01] Hristijan95 opened #55 "[BUG] Scrolling freezes on Safari"
I've been reading the documentation on thenewboston.com and I've noticed that the scrolling freezes from time to time.
I scroll, then I stop to read a paragraph for example and when I try to scroll some more, I can't, I try scrolling up/down multiple times and after a 3-4 seconds it unfreezes and it instantly scroll to the last scroll you've entered.

I tried hard to find a reproducing scenario, b

[2020-07-16 22:25] #32 closed

[2020-07-16 22:25] #39 closed

[2020-07-16 22:25] #42 closed

[2020-07-16 22:25] #30 closed

[2020-07-17 00:33] buckyroberts opened #57 "Mobile Left Menu"
On mobile devices, the left menu should close after a link/menu item is clicked

[2020-07-17 02:50] buckyroberts opened #60 "Update deployment guides for Bank/Validator"
Update deployment guides to differentiate between Bank and Validator where needed

[2020-07-17 02:50] #33 closed

[2020-07-17 08:07] Hristijan95 commented on #57
I'll do it.

[2020-07-17 21:52] angle943 opened #63 "Prevent Horizontal scrolling when on mobile view"
![Image from iOS](https://user-images.githubusercontent.com/5943963/87833571-045d3900-c83d-11ea-89d1-768252d650f2.png)

when scrolling up and down, if you scroll a little bit to the sideways, it does this annoying thing.

[2020-07-17 23:04] buckyroberts opened #64 "Previous and Next Buttons"
- design "Previous" and "Next" buttons for docs pages so users do not have to open up the menu again to go to the next page on mobile
- also note in design that on the first page, there will be no "Previous" (or it will be disabled) and on the last page there will be no "Next" (or it will be disabled)

<img width="390" alt="Screen Shot 2020-07-17 at 4 02 26 PM" src="https://user-images.githubuserc

[2020-07-17 23:55] #57 closed

[2020-07-17 23:55] #49 closed

[2020-07-18 03:53] guptstagram commented on #63
Give **overflow-x: hidden;** to class **right**.

`.right{
    overflow-x:hidden;
  }`

[2020-07-18 04:18] guptstagram opened #70 "Left-Sidebar"
If sidebar navigation overlaps the content instead of sliding it then it will look better I think because in mobile it totally slides the content. Or one option can be it should take up the whole width in the mobile device.

We can achieve the overlap thing by **position: absolute** and **some height**. And on the click of hamburger changing display or width property.

![image](https://user-images

[2020-07-18 18:45] buckyroberts opened #75 "HTML warnings"
Go through each page and fix any HTML nesting warnings (usually with tables and lists)

<img width="883" alt="Screen Shot 2020-07-18 at 11 44 15 AM" src="https://user-images.githubusercontent.com/8547538/87859719-1d70f300-c8ec-11ea-86e4-4572f00cd4d4.png">

[2020-07-18 18:49] #60 closed

[2020-07-18 18:49] #19 closed

[2020-07-18 18:49] #20 closed

[2020-07-18 21:39] Hristijan95 commented on #75
I'm taking it if no one started it yet.

[2020-07-19 07:58] Niekon01 opened #79 "Page scroll problem"
Everytime a menu item is clicked, the new content that gets loaded does not begin from top. Instead, the page is scrolled as far as the previous page was scrolled. The content needs to be loaded from the top.

[2020-07-19 18:44] #75 closed

[2020-07-19 18:44] #31 closed

[2020-07-19 19:00] kristykjlee commented on #31
**Update Marketing Site Landing Page elements/layout**

Update newboston logo
Contributors, Developers, Roadmap will now be top nav
Clicking on thenewboston logo will return user back to Landing Page
Copy text directly from mocks
Make slack & github buttons both 114px width
Include slack & github logos inside buttons
Send Points image has a dropshadow of X: 15, Y: 15, Blur: 40, Hex #: 042235, Opac

[2020-07-19 19:01] kristykjlee opened #81 "Update Marketing Site Landing Page"
**Update Marketing Site Landing Page elements/layout**

- Update newboston logo
- Contributors, Developers, Roadmap will now be top nav
- Clicking on thenewboston logo will return user back to Landing Page
- Clicking Developers will link users to all the documentation, 'Guide, Bank API, Primary Validator API, etc...'
- Copy text directly from mocks
- Make slack & github buttons both 114px width
-

[2020-07-19 19:10] kristykjlee commented on #81
<img width="384" alt="Send Points Modal" src="https://user-images.githubusercontent.com/68207101/87882957-ba00c700-c9b8-11ea-865b-8294e4748fc6.png">
<img width="1366" alt="Banks Full Data" src="https://user-images.githubusercontent.com/68207101/87882961-c08f3e80-c9b8-11ea-910f-4f691c1b9766.png">

[2020-07-19 19:32] jacobclevenger commented on #81
Picking up.

[2020-07-20 03:38] kristykjlee opened #85 "Splitting of Developers page into Guide & APIs"
_**For this ticket, no need to worry about responsive nor stylistic changes. This ticket will only focus on splitting the links.**_

We will now split the Developers page into 2 links to make it easier for everyone to view the docs.
- 1 for Guides
- 1 for APIs

**Acceptance Criteria**
- [ ] Just to reiterate, _**For this ticket, no need to worry about responsive nor stylistic changes. This ticket

[2020-07-20 03:38] kristykjlee opened #86 "Aesthetic updates for developers page"

[2020-07-20 21:39] whitehox commented on #79
Can I pick this up?

[2020-07-21 19:00] buckyroberts opened #92 "Add account balance endpoints to PV API docs"
<img width="888" alt="Screen Shot 2020-07-21 at 11 59 12 AM" src="https://user-images.githubusercontent.com/8547538/88095313-c23c3c00-cb49-11ea-8c33-c22684f10538.png">

[2020-07-21 19:23] #92 closed

[2020-07-21 19:50] buckyroberts opened #94 "Left menu logic/design"
This issue is in reference to these discussions:
- https://github.com/thenewboston-developers/Website/issues/70
- https://github.com/thenewboston-developers/Website/pull/90

We first need to do a bit of research on how best to handle the left menu first. I can see the scenario where the user is reading through the guide or API docs and they want to keep the left menu open as they click between pag

[2020-07-21 19:51] buckyroberts commented on #70
Closed in place of https://github.com/thenewboston-developers/Website/issues/94

[2020-07-21 19:51] #70 closed

[2020-07-21 20:34] buckyroberts opened #95 "Bank Confirmation Services"
- https://thenewboston.com/confirmation-validator-api/bank-confirmation-services

<img width="1281" alt="Screen Shot 2020-08-14 at 7 43 43 PM" src="https://user-images.githubusercontent.com/8547538/90303843-90777600-de66-11ea-9e63-1c0b664d652b.png">

[2020-07-26 02:42] #81 closed

[2020-07-26 21:42] kristykjlee opened #105 "Guide page Responsiveness"
- For Guide & APIs pages, we will now have a max width of 720px specifically for the written information.
- Leave diagrams to be the same width they already are. (Bc some diagrams are best viewed past 720px width.)
- Breakpoint of 768px, can still fit 720px information.
- Marketing Site itself will always have left and right padding of 12px.
- Once 768px breakpoint is reached, the side menu will t

[2020-07-26 21:45] kristykjlee opened #106 "Responsive Top Nav"
- Breakpoint of 768px will truncate the top nav options into a hamburger menu.
- Clicking/tapping onto the hamburger menu will then trigger a dropdown of the top nav functionality.

Landing Page Example
https://www.figma.com/file/ChyT88EmP2Rmzx35I9erCL/Marketing-Site?node-id=6%3A0

Hamburger Icon
[Hamburger.zip](https://github.com/thenewboston-developers/Website/files/4978674/Hamburger.zip)

[2020-07-26 21:57] kristykjlee opened #107 "APIs page responsiveness"
- For Guide & APIs pages, we will now have a max width of 720px specifically for the written information.
- Breakpoint of 768px, can still fit 720px information.
- Marketing Site itself will always have left and right padding of 12px.
- Once 768px breakpoint is reached, the side menu will truncate into a dropdown menu under the top nav.
- If API page titles get too long on mobile, please use ellip

[2020-07-26 22:05] kristykjlee opened #108 "Contributors page responsiveness"
- Remove 'Designer' section and put resources under React/FE

Contributor
https://www.figma.com/file/ChyT88EmP2Rmzx35I9erCL/Marketing-Site?node-id=0%3A1

[2020-07-26 22:17] kristykjlee opened #109 "Landing Page responsiveness"
- Pngs of the app remain the same size (are not squishy), whether user is on desktop or mobile.
- When pngs of app wrap to the bottom of the title & paragraph, please make sure it is 12px away from the left of the site. (So we see the most of the app png)
- Paragraphs & title on (instant transactions sections) are a max width of 480px.
- View Guide button comes after the 2nd paragraph (instant tra

[2020-07-27 00:04] angle943 opened #110 "Update containers/Home.tsx to follow styling guidelines"
check out: https://thenewboston.com/style-guide/

[2020-07-27 00:05] angle943 opened #111 "Update components/Layout/LeftMenu and component/Layout/LeftMenuGroup to follow styling guideline"
Check out: https://thenewboston.com/style-guide/

[2020-07-27 02:13] angle943 opened #113 "Update the Icon library to use `mdi-react` (hint, make it the same as the one in AccountManager Repo)"
Currently, this repo uses `material-icons` font library to display icons. We want to update this to use SVGs (just like it is done in AccountManager)

1) Install `mdi-react` and create a new component just like the one found in our website repo: https://github.com/thenewboston-developers/Account-Manager/tree/master/src/renderer/components/Icon

2) update all occurrences of `material-icons` to use

[2020-07-27 02:19] #107 closed

[2020-07-27 05:05] leelatanniru commented on #113
I would like to work on this.

[2020-07-27 22:54] BozidarSiljanoski commented on #105
I'll work on this

[2020-07-27 22:54] BozidarSiljanoski commented on #106
I'll work on this

[2020-07-27 22:55] BozidarSiljanoski commented on #108
I'll work on this

[2020-07-27 22:56] BozidarSiljanoski commented on #109
I'll work on this

[2020-07-27 23:40] #113 closed

[2020-07-27 23:41] #79 closed

[2020-07-27 23:42] buckyroberts commented on #63
Closing, working on updating the entire UI

[2020-07-27 23:42] #63 closed

[2020-07-29 10:02] whitehox commented on #55
Been trying to recreate this bug with same version of Safari and I haven't succeeded. has this been fixed?

[2020-07-31 03:43] leelatanniru commented on #111
I would like to work on this

[2020-07-31 03:45] leelatanniru commented on #110
I would like to work on this.

[2020-07-31 05:14] angle943 commented on #111
great thanks @leelatanniru . One thing to keep in mind with this is that currently, the `LeftMenu` and the `LeftMenuGroup` both rely on the same `scss` file. This needs to be separated into two separate files, and the styling for each should be scoped to each respective component. Please feel free to ask for help (either here or on chat) any time

[2020-07-31 16:40] leelatanniru commented on #111
Sure @angle943 Thank you.

[2020-08-06 22:36] #94 closed

[2020-08-07 02:09] angle943 commented on #111
@leelatanniru this one will be closed due to a site-wide update: https://github.com/thenewboston-developers/Website/pull/126

[2020-08-07 02:09] #111 closed

[2020-08-07 02:10] angle943 commented on #110
this one will be closed due to a sitewide update: https://github.com/thenewboston-developers/Website/pull/126

[2020-08-07 02:10] #110 closed

[2020-08-07 03:09] #85 closed

[2020-08-07 03:10] #106 closed

[2020-08-07 03:10] #109 closed

[2020-08-07 03:22] buckyroberts opened #128 "Breadcrumb menu improvement"
Breadcrumb menu needs `text-overflow: ellipsis;`

<img width="410" alt="Screen Shot 2020-08-06 at 8 21 38 PM" src="https://user-images.githubusercontent.com/8547538/89605503-8d570700-d822-11ea-8c1a-c79c914d0fb8.png">

[2020-08-07 04:41] buckyroberts opened #129 "Set a 720px Max Width for Guide & APIs Page Text"
- For Guide & APIs pages, we will now have a max width of 720px specifically for the written information.
- **Leave diagrams/image sizes the same width they already are** (because some diagrams are best viewed past 720px width)

Guide
https://www.figma.com/file/ChyT88EmP2Rmzx35I9erCL/Marketing-Site?node-id=55%3A0

[2020-08-07 21:15] buckyroberts commented on #55
Updated the entire layout and scrolling logic so hopefully this is fixed

[2020-08-07 21:15] #55 closed

[2020-08-08 03:00] #105 closed

[2020-08-08 03:14] #86 closed

[2020-08-08 16:17] massto opened #133 "All issues"

[2020-08-08 19:43] #133 closed

[2020-08-08 21:38] #108 closed

[2020-08-08 21:40] buckyroberts commented on #128
Updated this to hide the overflowed text, but couldn't get the ellipsis working with flex box.

<img width="441" alt="Screen Shot 2020-08-08 at 2 39 27 PM" src="https://user-images.githubusercontent.com/8547538/89720278-11c19b00-d985-11ea-99d1-df943f788bb0.png">

[2020-08-10 02:34] buckyroberts opened #141 "Navigation design tweaks"
- the font weight for the top nav and the guide/api side menu should be Medium
- font size for the top nav & side menu 16px
- the link color is Sail Blue 500 #556CD6, 16px, Medium weight

![Screen Shot 2020-08-09 at 4 32 55 PM](https://user-images.githubusercontent.com/8547538/89748286-53327300-da77-11ea-978e-eae27216146e.png)

[2020-08-15 02:39] buckyroberts commented on #64
Done

[2020-08-15 02:39] #64 closed

[2020-08-15 02:42] buckyroberts commented on #141
Done

[2020-08-15 02:42] #141 closed

[2020-08-15 18:27] guptstagram commented on #128
It can be done by putting strings into some tags.

[2020-08-16 17:02] buckyroberts opened #149 "API Docs for /upgrade_notice"
Need API Docs for `/upgrade_notice` endpoint

[2020-08-16 22:21] #149 closed

[2020-08-18 17:26] guptstagram commented on #128
Can I take it?

[2020-09-08 17:31] angle943 opened #161 "add hashtag section links"
https://redux-toolkit.js.org/api/configureStore#middleware

[2020-09-10 16:49] leelatanniru commented on #128
@guptstagram are you working on this?

[2020-09-10 18:31] guptstagram commented on #128
Yes, @leelatanniru I have pushed the code.

[2020-09-11 04:05] angle943 opened #168 "add Hashtag Links for /guide and /deployment-guide pages"
please refer to https://github.com/thenewboston-developers/Website/pull/167

[2020-09-11 04:06] angle943 opened #169 "add Hashtag links for /bank-api , /primary-validator-api , and /confirmation-validator-api pages"
please refer to https://github.com/thenewboston-developers/Website/pull/167

[2020-09-11 04:08] #95 closed

[2020-09-11 04:35] #161 closed

[2020-09-11 04:35] #168 closed

[2020-09-11 04:35] #169 closed

[2020-09-16 00:30] buckyroberts opened #180 "Design Hi-Fi Leaderboard Page"
![Leaderboard](https://user-images.githubusercontent.com/8547538/93278189-d5017480-f778-11ea-89dc-d0598a7268ab.png)

[2020-09-16 00:32] buckyroberts opened #181 "Update Download Page"
- Use tab interaction to display each Windows, Mac, and Linux download button & installation instruction
- Include text content of latest version, right aligned to the end of the line
- Include name of Windows, Mac, or Linux in the download button in their dedicated tab. (For example 'Download for Windows'.
- Include installation instructions below per tab.

**Installation Instructions** text for

[2020-09-16 01:42] buckyroberts opened #182 "1-2-3 bubbles"
![Homepage Bubbles](https://user-images.githubusercontent.com/8547538/93282373-23b40c00-f783-11ea-80f2-81359e9b315c.png)

[2020-09-16 23:47] buckyroberts opened #183 "Combine Guides and APIs and called it Docs"
Do this ^

[2020-09-16 23:48] #182 closed

[2020-09-16 23:49] buckyroberts opened #184 "Homepage Update (1-2-3 Bubbles)"
https://www.figma.com/file/4lI8orw0bWotODTAF0rtR8/Marketing-Site-Landing-Page?node-id=143%3A690

<img width="841" alt="Screen Shot 2020-09-16 at 4 49 00 PM" src="https://user-images.githubusercontent.com/8547538/93403495-8ae1c700-f83c-11ea-9e2a-9eb4bbb58a8f.png">

[2020-09-18 00:34] buckyroberts opened #187 "Account Manager Tutorial Update"
Update the docs to account for the new "Get Started" flow.

[2020-09-18 00:51] #187 closed

[2020-09-18 01:03] #183 closed

[2020-09-18 01:17] buckyroberts opened #191 "Add Basic Leaderboard Page"
Add a basic leaderboard page to the website. Hi-Fi will come later, so for now only include basic designs and logic.

[2020-09-20 16:54] buckyroberts opened #200 "Create Tasks and Help Pages"
<img width="1720" alt="ht" src="https://user-images.githubusercontent.com/8547538/93716907-30d84e80-fb27-11ea-9e37-f308f35363b8.png">

![Tasks](https://user-images.githubusercontent.com/8547538/93716914-3d5ca700-fb27-11ea-9e4a-0c63836db18c.png)

[2020-09-20 22:34] #128 closed

[2020-09-21 03:07] #184 closed

[2020-09-21 03:07] #191 closed

[2020-09-21 03:07] #200 closed

[2020-09-21 03:28] buckyroberts opened #204 "Leaderboard and Tasks Repository Filter URLs"
On the `/leaderboard` and the `/tasks` pages, when filtering by repository the name of the repository should be included in the URL. For example:

- `/leaderboard/Account-Manager`
- `/leaderboard/Bank`
- etc...

This will help us track which are the most commonly used filters in Google Analytics and later allow us to improve the UX by moving the more common filters to the top.

When there is no re

[2020-09-21 10:31] webdeveloperswj opened #205 "[All desktop devices] Highlighted section should be less in height"
Url : https://thenewboston.com/
![image](https://user-images.githubusercontent.com/59204822/93762585-7e3ee380-fc2d-11ea-879f-df58b0b05296.png)

[2020-09-21 10:38] webdeveloperswj opened #206 "Highlighted section should be less in height"
Url : https://thenewboston.com/

![image](https://user-images.githubusercontent.com/59204822/93757506-8181a180-fc24-11ea-968d-65c2dc78e61d.png)

[2020-09-21 10:41] webdeveloperswj opened #207 "[All desktop devices] Amount number text should be aligned inline with Column title amount"
Url : https://thenewboston.com/leaderboard
![image](https://user-images.githubusercontent.com/59204822/93757744-e76e2900-fc24-11ea-96fb-9ee5e85b4d8a.png)

[2020-09-21 11:18] webdeveloperswj opened #208 "[1440*900] Sections should be horizontally aligned center"
Url : https://thenewboston.com/
![image](https://user-images.githubusercontent.com/59204822/93759668-41242280-fc28-11ea-998b-57335e602cb7.png)
![image](https://user-images.githubusercontent.com/59204822/93760166-1e463e00-fc29-11ea-84af-a3f04ed2616f.png)

[2020-09-21 11:20] webdeveloperswj opened #209 "[All desktop devices] Spacing above and below highlighted section should be equal"
Url : https://thenewboston.com/
![image](https://user-images.githubusercontent.com/59204822/93760862-6f0a6680-fc2a-11ea-9e10-9e514d213be6.png)

[2020-09-21 11:29] webdeveloperswj opened #210 "[All laptop devices] Highlighted table should be aligned inline with other tables"
Url : https://thenewboston.com/leaderboard
![image](https://user-images.githubusercontent.com/59204822/93761692-d543b900-fc2b-11ea-9dc2-56128d5fa669.png)
![image](https://user-images.githubusercontent.com/59204822/93762059-81859f80-fc2c-11ea-8108-64d719deda74.png)

[2020-09-21 12:30] webdeveloperswj opened #211 "[Internet Explorer] Site not working"
Version 11
https://thenewboston.com/
![image](https://user-images.githubusercontent.com/59204822/93766544-32dc0380-fc34-11ea-8916-d50377ac57f5.png)

[2020-09-21 12:40] webdeveloperswj opened #212 "[All mobile devices] Image not fully visible"
Url : https://thenewboston.com/
![image](https://user-images.githubusercontent.com/59204822/93767462-b0544380-fc35-11ea-8054-0fa3dd7dfea0.png)

[2020-09-21 12:52] webdeveloperswj opened #213 "[All mobile devices] Highlighted section should have space from left"
Url : https://thenewboston.com/
![image](https://user-images.githubusercontent.com/59204822/93768032-6c157300-fc36-11ea-8d6c-6b38a00812f2.png)

[2020-09-21 12:59] webdeveloperswj opened #214 "[All mobile devices] Spacing between content should be equal"
Url : https://thenewboston.com/
![image](https://user-images.githubusercontent.com/59204822/93769369-53a65800-fc38-11ea-8187-c1698064a287.png)

[2020-09-21 13:24] webdeveloperswj opened #215 "[768px iPad Air 2019] Image should have padding"
Url : https://thenewboston.com/
![Uploading image.png…]()

[2020-09-21 13:26] webdeveloperswj opened #216 "[768 px ipad] Image should have padding"
Url : https://thenewboston.com/
![image](https://user-images.githubusercontent.com/59204822/93772057-fad8be80-fc3b-11ea-9646-09d741ee217d.png)

[2020-09-21 13:48] webdeveloperswj opened #217 "[All mobile devices] Unable to see content easily"
Url : https://thenewboston.com/leaderboard
https://recordit.co/TWJ3z2H1T0
![image](https://user-images.githubusercontent.com/59204822/93774454-e944e600-fc3e-11ea-8dfd-df2058462026.png)

https://thenewboston.com/tasks
http://recordit.co/dTK80GRDGJ
![Uploading image.png…]()

[2020-09-21 14:07] webdeveloperswj opened #218 "[All mobile devices] Page moves horizontally"
Url : https://thenewboston.com/guide/root-account-file
Video : http://recordit.co/E7PGno7bwJ

[2020-09-21 14:51] webdeveloperswj opened #219 "[All mobile devices] Table should be aligned horizontally center"
URL : https://thenewboston.com/guide/introduction

![image](https://user-images.githubusercontent.com/59204822/93782315-0e8a2200-fc48-11ea-9169-7ba3cf63c086.png)

[2020-09-21 14:59] webdeveloperswj opened #220 "[iPhone SE] Page moved horizontally"
**Bug Description**
Page is horizontally scrollable where it should not be.

Url : https://thenewboston.com/guide/introduction
Video : https://recordit.co/lX2ssTout2

[2020-09-23 01:54] #204 closed

[2020-09-23 02:36] #218 closed

[2020-09-23 02:55] buckyroberts opened #229 "GitHub Guide Pages"
Create guide pages for new GitHub users on how to:
- fork
- create a PR
- etc...

On the Tasks page, add a UI element for "Ready to submit a PR?" that links to the create a PR page.

[2020-09-23 03:39] buckyroberts opened #230 "Installation Guides"
Installation guides for Windows, Mac, and Linux. Wait for design before first to see which pages they need to go on.

[2020-09-23 05:55] guptstagram commented on #211
Can I take it?

[2020-09-28 06:15] #180 closed

[2020-09-28 10:19] webdeveloperswj opened #247 "[Desktop] Title should be aligned vertically center"
Url : https://thenewboston.com/leaderboard/All
![image](https://user-images.githubusercontent.com/59204822/94420758-3e827980-01a2-11eb-97cb-1d5d25a6531b.png)

[2020-09-28 10:23] webdeveloperswj opened #248 "[iPhone 320Px] Text goes out of section"
Url : https://thenewboston.com/leaderboard/All
![image](https://user-images.githubusercontent.com/59204822/94421153-c5375680-01a2-11eb-9484-04fd0f8789ab.png)

[2020-09-28 10:34] webdeveloperswj opened #249 "[iPad 4] Site not working"
**OS iOS, v7
Browser  Safari**

![image](https://user-images.githubusercontent.com/59204822/94422163-46431d80-01a4-11eb-8c01-20a72cb3df3e.png)

[2020-09-28 10:40] webdeveloperswj opened #250 "[Desktop]Font size for text looks too small"
Url: https://thenewboston.com/leaderboard/All
![image](https://user-images.githubusercontent.com/59204822/94422658-0fb9d280-01a5-11eb-85ea-79f7746b6407.png)

[2020-09-28 11:00] webdeveloperswj opened #251 "Title should be changed"
**Bug Description**
Title for date is completed it should be changed as issue is not solved yet

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to https://thenewboston.com/leaderboard/All
2. Check title for Dates

**Expected behavior**
Title should  "Issued Date or Only Date"

**Actual behavior**
Title is "completed"

**Screenshots/Recordings**
![image](https://user-images.githubuse

[2020-09-28 11:57] nazmulshuvo03 commented on #251
Created a PR #252

[2020-09-28 12:35] webdeveloperswj opened #253 "[Mobile] Button should be of same width as other buttons"
Url : https://thenewboston.com/openings/All
**All mobile devices**
![image](https://user-images.githubusercontent.com/59204822/94432911-19e3cd00-01b5-11eb-8af3-6c8605d66b9a.png)

[2020-09-28 12:45] webdeveloperswj opened #254 "Highlighted word should be "Report To""
Url : https://thenewboston.com/openings/All (Check in all sections)
![image](https://user-images.githubusercontent.com/59204822/94433885-94611c80-01b6-11eb-81b7-299f73e75002.png)

[2020-09-28 12:50] webdeveloperswj opened #255 "When there are more than one channel then only text should be "To apply, send us a message through any of the following channels:" otherwise text should be ""To apply, send us a message through the following channel:""
![image](https://user-images.githubusercontent.com/59204822/94434387-57e1f080-01b7-11eb-8630-2804f3857a02.png)

[2020-09-28 15:42] nazmulshuvo03 commented on #250
PR created #256

[2020-09-28 18:04] ankitsridhar16 commented on #254
Quick fix I will do it. Can you assign it to me ?

[2020-09-28 18:14] ankitsridhar16 commented on #213
I will do it can you assign it to me ?

[2020-09-28 18:15] csmtcy commented on #220
#257 submitted a pull request for resolving the horizontal scroll issue

[2020-09-28 23:34] #129 closed

[2020-09-29 03:57] #214 closed

[2020-09-29 23:32] buckyroberts commented on #251
Note to self - differentiate bug tickets from bug solutions (PR's)

[2020-09-30 12:06] webdeveloperswj opened #263 "Points displayed on Leaderboard page and actual points given on github are different"
![image](https://user-images.githubusercontent.com/59204822/94682686-ee8ee880-0342-11eb-9324-90dc9cabcb68.png)
![image](https://user-images.githubusercontent.com/59204822/94682808-2007b400-0343-11eb-91d0-f9660631334b.png)
![image](https://user-images.githubusercontent.com/59204822/94682874-3d3c8280-0343-11eb-89ef-7db5db69c06d.png)
![image](https://user-images.githubusercontent.com/59204822/9468294

[2020-09-30 17:20] BozidarSiljanoski commented on #212
I would like to take this please

[2020-09-30 17:21] BozidarSiljanoski commented on #219
I would like to take this

[2020-09-30 17:22] BozidarSiljanoski commented on #247
I would like to take this

[2020-10-01 03:59] buckyroberts commented on #207
Outdated designs

[2020-10-01 03:59] #207 closed

[2020-10-01 03:59] #208 closed

[2020-10-01 04:35] Niekon01 commented on #213
Sorry @ankitsridhar16, but this issue has already been fixed in Pull #246.

[2020-10-01 04:35] #213 closed

[2020-10-02 04:42] #254 closed

[2020-10-02 20:01] lapstjup commented on #220
#266 submitted a pull request for resolving the horizontal movement of page in Docs.

[2020-10-02 21:36] angle943 opened #267 "Allow absolute imports for sass/scss files"
![Screen Shot 2020-10-02 at 2 35 24 PM](https://user-images.githubusercontent.com/5943963/94971732-8b28c600-04bc-11eb-8765-f9403b494ac7.png)

we should be able to do @import 'styles/mixins'

[2020-10-02 22:06] #255 closed

[2020-10-03 01:18] #220 closed

[2020-10-03 01:20] #267 closed

[2020-10-03 22:01] kristykjlee opened #271 "Team Page"
We are including a Team page to the marketing site so it is easier to understand who is working on what and to understand who people can reach out to if they have any questions.

Team Pages:
- [ ] 'All' page will be organized by the most recent contributors that have been added.
- [ ] 'All' page will display 1. Name of Contributor, 2. Title, 3. Team Name (Link to the team (Side menu)), 4. Slack Na

[2020-10-03 22:47] kristykjlee opened #273 "Openings Page Update"
We are updating the Openings page so whenever someone clicks on a job opening, we are no longer expanding the card to see the full details, but we will now take them to a new page that has the details of the openings. We are doing this because it is easier for people to send links of the specific job opening to a variety of people.

- [ ] When user selects on a card, we will take them to that spec

[2020-10-03 23:11] audous opened #274 "Email Capture for Landing Page"
Idea: Create an email Capture form for users who are not joining the development community, but have made it to the TNB landing page to check on the ICO progress.

Objective: Capture users emails so we can notify them when they can invest.

There are two main segments of users to capture on the landing page.

The segment we are capturing now for the github and slack team building.

And the segment

[2020-10-04 00:17] Francaolisa commented on #274
This is good.

[2020-10-04 05:52] buckyroberts opened #275 "Update Account Manager Desktop Icon"
![tnb logo](https://user-images.githubusercontent.com/8547538/95008026-dc26e000-05ca-11eb-8ce8-cb9e9f699567.png)

[2020-10-04 05:53] #275 closed

[2020-10-04 06:23] ph4ni commented on #274
I know this is just a mockup but the text in the image doesn't really reflect TNB accurately. Makes it sound like it's just another crypto project. Gotta be more authentic than "invest", "faster", "gains", "only-600". We are not generating hype for a shitcoin here.
I hope either @buckyroberts, @kristykjlee, or someone else who has a better idea about what we are really doing, writes something bett

[2020-10-04 08:17] Francaolisa commented on #274
@ph4ni you are right. Just now I saw that text. Isn’t right to mention gains or hype thing. Is best to simply say “subscribe to get u  update on when we will launch “ or something more simple.

[2020-10-04 09:34] thesanjeevsharma commented on #273
@kristykjlee I would like to work on this one.

[2020-10-04 13:13] kcrnac opened #276 "[All browsers] No padding applied to last MenuGroup on Docs page"
https://thenewboston.com/guide/introduction

When scrollbar appears on left side menu, last item of navigation (.MenuGroup) does not have padding set.

![Screenshot_14](https://user-images.githubusercontent.com/6311959/95016549-f062ef80-0653-11eb-88a4-265fb42f5718.png)

[2020-10-04 13:32] kcrnac commented on #276
PR: #277 - Add padding to last MenuGroup item on docs page

[2020-10-04 16:51] kcrnac commented on #253
@webdeveloperswj can you please assign me to this issue?

PR: #279

[2020-10-04 18:27] buckyroberts commented on #217
Fixed

[2020-10-04 18:27] #217 closed

[2020-10-04 18:28] #209 closed

[2020-10-04 18:28] buckyroberts commented on #210
Outdated designs

[2020-10-04 18:28] #210 closed

[2020-10-04 18:29] buckyroberts commented on #212
This is the intended design.

[2020-10-04 18:29] #212 closed

[2020-10-04 18:30] buckyroberts commented on #215
Image URL is broken.

[2020-10-04 18:30] #215 closed

[2020-10-04 18:31] buckyroberts commented on #216
This design is intentional.

[2020-10-04 18:31] #216 closed

[2020-10-04 18:31] buckyroberts commented on #219
Done.

[2020-10-04 18:31] #219 closed

[2020-10-04 19:29] buckyroberts opened #280 "Update Account Manager Guide Pages"
Update Account Manager guide screenshots that are out of date. For example:

## Old Account page

<img width="1409" alt="AccountOverview 9a07b5f3" src="https://user-images.githubusercontent.com/8547538/95025251-3791b600-063d-11eb-9c0b-5030c57b3171.png">

## New Account page

<img width="612" alt="Screen Shot 2020-10-04 at 12 27 44 PM" src="https://user-images.githubusercontent.com/8547538/95025242

[2020-10-04 21:00] itsnikhil commented on #248
### Which one of the fix mentioned below should I push?

|  |  |
| - | - |
| **Fix A** - Stacked horizontally | **Fix B** - Text-overflow: Ellipsis |
| ![localhost_3000_leaderboard_All(iPhone 5_SE)](https://user-images.githubusercontent.com/20350674/95026759-4a45d280-06b1-11eb-8753-93c72850cc58.png) | ![thenewboston com_leaderboard_All(iPhone 5_SE)](https://user-images.githubusercontent.com/203506

[2020-10-04 23:27] audous commented on #274
@ph4ni and @Francaolisa Good points. I removed the image to avoid confusion.

[2020-10-05 01:35] #253 closed

[2020-10-05 02:34] brmendez commented on #271
I'd like to work on this.

[2020-10-05 04:58] webdeveloperswj commented on #255
Issue solved

[2020-10-05 05:36] webdeveloperswj commented on #220
Issue solved

[2020-10-05 05:46] webdeveloperswj commented on #219
Issue solved

[2020-10-05 05:49] webdeveloperswj commented on #217
Issue solved
![Uploading image.png…]()

[2020-10-05 07:58] kristykjlee opened #283 "Landing Page Style Update"
### **Please review all updates below:**

**Remove**
- [ ] Remove grey background on the 'Build software. Earn digital currency' section.
- [ ] Remove grey background on the 'Say goodbye to 10 minute block times' section.

**Style Update:**
- [ ] On 'Build software. Earn digital currency' text, make the 'Build' & 'Earn' **bold**.
- [ ] Update Earn color to Sail Green 400
- [ ] Update the mocks of

[2020-10-05 11:35] mankarsandesh commented on #271
This page done or pending. let me know otherwise I will finish this.

[2020-10-05 11:43] mankarsandesh commented on #283
I will work on this. and Update Soon. thanks

[2020-10-05 15:46] dahelg commented on #206
I think this can be solved quickly. But does it need any review before I take it?

[2020-10-05 16:08] brmendez commented on #271
Hi @mankarsandesh, I would like to be assigned to this — just waiting on becoming a collaborator. Cc: @kristykjlee

[2020-10-06 05:57] kristykjlee opened #284 "Update Download page"
- Use tab interaction to display each Windows, Mac, and Linux download button & installation instruction
- Include text content of latest version, right aligned to the end of the line
- Include name of Windows, Mac, or Linux in the download button in their dedicated tab. (For example 'Download for Windows'. (Google material Icon name is 'save_alt')
- Include installation instructions below per tab

[2020-10-06 05:58] #181 closed

[2020-10-06 12:14] webdeveloperswj opened #285 "Add Profile link to Assignee image on Leaderboard page"
![image](https://user-images.githubusercontent.com/59204822/95200187-9309a280-07fb-11eb-9293-f77f9ce908e2.png)

[2020-10-06 12:23] webdeveloperswj commented on #248
@itsnikhil 2 nd looks better

[2020-10-06 12:36] webdeveloperswj opened #286 "[320px] Leaderboard page moves horizontally"
Url : https://thenewboston.com/leaderboard/All
https://recordit.co/DwMsicGY6t

[2020-10-06 13:00] webdeveloperswj opened #287 "[All mobile devices] On Leaderboard page Popup for Contributors info should be aligned vertically center"
![image](https://user-images.githubusercontent.com/59204822/95204606-f3034780-0801-11eb-965e-f327f37616ec.png)

[2020-10-07 05:56] buckyroberts commented on #271
@brmendez all yours

[2020-10-07 05:59] #230 closed

[2020-10-07 06:13] buckyroberts commented on #206
@dahelg all yours

[2020-10-08 11:57] webdeveloperswj opened #292 "[Linux] User is able to Edit Trust in Bank >> Accounts, Validators, Banks, section"
**Bug Description**
User is able to Edit Trust in Bank >> Accounts section

**Steps to Reproduce**
1. Go to Banks >> Accounts
2. Check "Trust" column

**Expected behavior**
User should not be  able to Edit Trust in Bank >> Accounts section

**Actual behavior**
User is able to Edit Trust in Bank >> Accounts section

**Screenshots/Recordings**
![image](https://user-images.githubusercontent.com/59204

[2020-10-08 12:07] #292 closed

[2020-10-08 13:50] VishakhaAwasthi01 commented on #287
Can I take this?

[2020-10-08 20:48] leelatanniru commented on #284
Hi @kristykjlee could you please assign this to me.i would like to work on it this weekend:))

[2020-10-09 19:18] kristykjlee commented on #284
@leelatanniru Hi Leela, you can pick up any ticket without my permission 🙂 You can just comment and say you're taking the ticket. It's all yours!

[2020-10-10 00:30] buckyroberts commented on #287
@VishakhaAwasthi01 We have to send this through design first. They may want to keep it this way.

[2020-10-10 03:08] angle943 opened #293 "Add the functionality to use font-weight with our Inter Font"
Currently, we can't set the font-weight with our Inter fonts. We have to change the font-family to make it bold. For example: `font-family: var(--font-family-inter-bold)`.

Research into how to update this. We don't want to update the font weight by changing the font-family.

[2020-10-10 22:34] #273 closed

[2020-10-11 00:34] #248 closed

[2020-10-11 15:52] thearyanahmed opened #295 "Documentation CSS issue."
I was reading the docs from safari ( mobile ),

As you see, at the very bottom, there should be a link to the next document/page, but it's hidden, I had to pull to view the link, and when I released, it went back to its original position,

iOS version 14.0.1
Safari version 13.1

## Screenshot 01
![image](https://user-images.githubusercontent.com/20617352/95683166-609ce280-0c0b-11eb-8c1e-4b44add301

[2020-10-11 19:40] angle943 commented on #286
https://github.com/thenewboston-developers/Website/pull/289 fixed this issue

[2020-10-11 19:40] #286 closed

[2020-10-12 01:15] buckyroberts opened #296 "Update Leaderboard to pull data from API"
Update the Leaderboard page to pull data from thenewboston Website API.

[2020-10-12 10:19] webdeveloperswj opened #298 "[All mobile Devices] Page is not responsive"
Page is not responsive it moves horizontally
URL : https://thenewboston.com/guide/root-account-file

 Screenshots :
 http://recordit.co/d9MskJ2t2S

[2020-10-12 10:50] webdeveloperswj opened #299 "[All mobile devices] Page is not responsive"
Page is not responsive it moves horizontally
Page URL : https://thenewboston.com/confirmation-validator-api/confirmation-blocks

Screenshot
https://recordit.co/RS6IisfiDW

[2020-10-12 11:03] webdeveloperswj opened #300 "[All mobile devices] Page is not responsive"
Page is not responsive it moves horizontally
Page URL : https://thenewboston.com/primary-validator-api/accounts

Screenshot :
https://thenewboston.com/primary-validator-api/accounts

[2020-10-12 13:24] webdeveloperswj opened #301 "[All mobile devices] Page is not responsive it moves horizontally"
Page is not responsive it moves horizontally
Page URL : https://thenewboston.com/download

Screenshot  :
https://recordit.co/u1a4oxoujy

[2020-10-15 13:53] webdeveloperswj opened #303 "[Mozilla Firefox] Remove dotted border coming around navigation menu when clicked on it"
Version  80.0.1
![image](https://user-images.githubusercontent.com/59204822/96138931-e8406500-0f1b-11eb-81cb-d6c7956059fa.png)

[2020-10-16 09:00] rootleet commented on #301
Let me fix this, assign it to me

[2020-10-16 14:08] webdeveloperswj opened #305 "[All mobile devices] Section should be aligned inline with other section above it"
Url : https://thenewboston.com/help
![image](https://user-images.githubusercontent.com/59204822/96268238-6ff2a600-0fe6-11eb-86eb-542c50e26d09.png)

[2020-10-18 08:43] akshat-fsociety commented on #305
@webdeveloperswj can I work on this issue.

[2020-10-19 03:26] #206 closed

[2020-10-20 01:53] #301 closed

[2020-10-20 02:06] angle943 commented on #303
we need `active` states for all of our buttons

[2020-10-20 02:09] #305 closed

[2020-10-20 03:29] angle943 commented on #298
![Screen Shot 2020-10-19 at 8 28 48 PM](https://user-images.githubusercontent.com/5943963/96536832-bf84dc00-1249-11eb-8bf7-ba2486c8d45c.png)

Its due to this table. Make this table responsive by giving the table itself a horizontal scroll

[2020-10-20 03:38] #300 closed

[2020-10-20 03:38] #299 closed

[2020-10-20 14:57] GermaVinsmoke commented on #298
This page also https://thenewboston.com/guide/resync-triggers

[2020-10-21 03:40] #298 closed

[2020-10-21 05:21] GermaVinsmoke commented on #205
@angle943 This one's completed, right?

[2020-10-21 12:56] webdeveloperswj commented on #205
Solved

[2020-10-21 12:56] #205 closed

[2020-10-21 13:16] GermaVinsmoke commented on #247
@webdeveloperswj completed, right?

[2020-10-22 03:18] #295 closed

[2020-10-23 15:39] colfax23 commented on #293
I'll take this one!

[2020-10-23 21:00] moki298 commented on #283
@kristykjlee @angle943 Regarding the last item in the above check list, I infer 1366px should be the max width of the nav bar which should never expand even if the browser window expands on wide monitors/devices. Is my understanding right? If yes please check the below snapshot(this is how it looks on wide monitors @ >1366px width) and let me know what you think. Thanks.

![Screen Shot 2020-10-23

[2020-10-23 21:25] colfax23 commented on #293
Ok, so I did some digging and it seems the approach outlined in this post is best:
https://www.456bereastreet.com/archive/201012/font-face_tip_define_font-weight_and_font-style_to_keep_your_css_simple/

This SO post shows a snippet of the implementation at a glance:
https://stackoverflow.com/a/10046346

I'll work on a PR the fonts file (https://github.com/thenewboston-developers/Website/blob/devel

[2020-10-24 08:23] moki298 commented on #283
I went ahead and created a pull request for these changes, all the changes have been added. Regarding my question in above comments, I went ahead and made changes so that the nav bar looks like as shown in first snapshot above for wide screens(>1366px) and normal(as seen in second snapshot above) for <=1366px screens.

[2020-10-24 18:41] angle943 commented on #293
@colfax23 here's the AccountManager's same issue: https://github.com/thenewboston-developers/Account-Manager/issues/416

Open for you to take this one if you want ;). These two tickets alone will put you as #3 contributor on our leaderboard ;)

[2020-10-24 18:49] colfax23 commented on #293
Consider it done!

[2020-10-24 19:52] buckyroberts opened #315 "Sign In, Sign Out, Profile Page"
- [x] Give users the ability to sign in with GitHub. The **Sign In** button should send users directly to the GitHub Sign In page.
- [x] Include a **Create Account** (with GitHub) in the marketing page as well, this page will take you directly to the GitHub Create your account page. Once the user creates an account, we will redirect to thenewboston website signed in.
- [x] When the user signs into

[2020-10-25 00:03] #284 closed

[2020-10-25 01:20] kristykjlee commented on #283
@moki298 Hey moki, on bigger screens such as 1920px, the nav buttons itself will continue to remain 1294px width, but the navigation background with the dropshadow on it needs to stretch out so it doesn't create a weird dropshadow cut off.
![Screen Shot 2020-10-24 at 6 18 47 PM](https://user-images.githubusercontent.com/68207101/97096754-6c35d380-1625-11eb-9a4e-bb423b80d924.png)

[2020-10-25 01:26] kristykjlee commented on #283
@moki298 Also not sure if you already did this, but just wanted to make sure, please make sure all the content is left aligned.
![Screen Shot 2020-10-24 at 6 09 11 PM](https://user-images.githubusercontent.com/68207101/97096810-37764c00-1626-11eb-812d-da4e9c9fccdc.png)

[2020-10-25 02:55] kristykjlee opened #317 "Updated Top Navigation"
Now that we have more pages in our marketing site, we need to update our top navigation to be grouped in a more intuitive way to help guide people on how to get started or involved in the community. The way the navigation structure will be grouped will now be:

**1. Get Started**
- Documentation
- Tutorials
- Tasks

**2. Community**
- Join the Community!
- Openings
- Team
- Leaderboard

**Addition

[2020-10-25 02:56] kristykjlee opened #318 "Updated Footer"
**On the footer of the marketing site, please include...:**
- [ ] thenewboston logo
- [ ] Social media icons
- [ ] All page navs listed
- [ ] Ignore FAQ section for now, will be added in the new future

https://www.figma.com/file/ChyT88EmP2Rmzx35I9erCL/Marketing-Site?node-id=934%3A1387

[Social Media.zip](https://github.com/thenewboston-developers/Website/files/5434175/Social.Media.zip)

[2020-10-25 02:56] kristykjlee opened #319 "Social Media page"
We are completely revamping our 'Help' page to being our Social Media page.

- [ ] Basically remove everything from that Help page and we can start from scratch if thats easier.
- [ ] Change nav title from 'Help' to 'Social'
- [ ] Include header text 'Join the Community'
- [ ] Include subtext 'Explore ways to get involved, and stay up-to-date with the latest announcements and events.'
- [ ] Includ

[2020-10-25 02:56] kristykjlee opened #320 "FAQ page"
We need to build out an FAQ page on our marketing site to help answer additional questions the community has been asking. This page will be updating often based off the questions we get from the community.

**Criteria:**
Please copy all the text that is on the mocks itself.
https://www.figma.com/file/ChyT88EmP2Rmzx35I9erCL/Marketing-Site?node-id=606%3A2300

[2020-10-25 02:57] kristykjlee opened #321 "Update social media buttons on the main marketing page"
On the marketing page, please update these social media buttons ![Screen Shot 2020-10-24 at 9 48 42 PM](https://user-images.githubusercontent.com/68207101/97099144-b8434100-1642-11eb-92b1-248fda144966.png)  to the new design on the mocks.

- [ ] We are updating the social media icons to Sail Gray 900 and only including the social media icon but not the workmark.
- [ ] We are also going to include

[2020-10-25 04:43] kristykjlee opened #322 "Hello World in Different Languages for Marketing Site"
On our marketing site, right on top of our main header message, we are going to include the text 'Hello World' in a variety of different spoken languages. We are going to let the community input their own spoken language as well if their spoken language is not already included.

The languages we are going to include initially will be.

1. **English** Hello World
2. **Russian** Привет мир
3. **Phil

[2020-10-25 19:54] angle943 commented on #320
Engineering Notes. Please make each Question linkable with a hashtag & id

[2020-10-25 19:58] angle943 commented on #317
We need to create a popover component to do this one. I'll handle this one

[2020-10-25 20:03] angle943 commented on #319
Engineering Notes:

url should be `/social`

[2020-10-26 00:12] colfax23 commented on #319
I'll take this!  Should have a PR by Tuesday.

[2020-10-26 00:20] colfax23 commented on #280
I'll knock this out tomorrow!

[2020-10-26 02:13] aayushi14 commented on #321
@kristykjlee @angle943 Can you assign this to me? I am pushing my branch.

[2020-10-26 06:22] aayushi14 commented on #321
#323 Please let me know if it needs any changes.

[2020-10-26 06:40] thesanjeevsharma commented on #318
I would like to work on this!

[2020-10-26 17:45] moki298 commented on #283
@angle943 @kristykjlee  everything is added and complete, do check and merge. Thanks!

[2020-10-27 03:52] #293 closed

[2020-10-28 02:20] #321 closed

[2020-10-28 03:17] #318 closed

[2020-10-28 04:05] kristykjlee opened #330 "Footer Update V2"
- [ ] Make all left menus non-sticky
- [ ] Footer should also be non-sticky
- [ ] Footer information should be on every single marketing page

[2020-10-28 04:18] #280 closed

[2020-10-28 11:42] webdeveloperswj opened #331 "Add Copyright section to site footer"
![image](https://user-images.githubusercontent.com/59204822/97431630-a8787500-1940-11eb-826c-cc39aa221428.png)

[2020-10-29 02:23] #283 closed

[2020-10-29 02:55] #271 closed

[2020-10-29 04:37] kristykjlee commented on #331
@webdeveloperswj We will not need copyright

[2020-10-29 04:56] #331 closed

[2020-10-30 02:31] aayushi14 commented on #320
@angle943 @kristykjlee  Can you assign this to me?

[2020-10-30 02:33] brmendez commented on #320
@aayushi14 Sorry! I am almost done with this.

[2020-10-30 04:58] kristykjlee opened #333 "Landing Page V2"
- [ ] Update main header message to 'Open-source community for creators' (all **bold**)
- [ ] Update main subtext to 'Learn to code, collaborate on projects, gain experience, build a community, and earn coins by contributing.'
- [ ] Remove images of the app & replace it with the illustration attached to the ticket
- [ ] Change background color of the 3-step block to Sail **Blue** 900 (#131F41)
- [

[2020-10-30 05:31] kristykjlee commented on #321
@aayushi14 @angle943 Sorry to bring this one up again. The logos itself needs to the white, while the button is the current color. The current logos look like they have an inner dropshadow.

**Current:**
![Screen Shot 2020-10-29 at 10 20 19 PM](https://user-images.githubusercontent.com/68207101/97663131-fae78d80-1a35-11eb-8822-f0c13d17724e.png)

**Design:**
![Screen Shot 2020-10-29 at 10 31 24 PM]

[2020-10-30 06:08] buckyroberts opened #334 "Update Initial Funds Page"
Updated with information about contributors, tasks, etc... https://thenewboston.com/guide/initial-funds

[2020-10-30 06:40] angle943 opened #335 "Replace Footer icons with mdi-icons"
We've manually been using custom icons for the social media icons. We want to replace them with the mdi-react icons (https://materialdesignicons.com/)

The icons are: facebook, github, linked, reddit, slack, twitter, youtube

1) Add social media icons to our `components/Icon/index.tsx`.
2) Update `Footer/SocialMediaIcon/index.tsx` to no longer use the custom icons, and to instead use the mdi-icons

[2020-10-30 06:45] angle943 opened #336 "Replace Hompage Social Media Hero icons to use SVG Icons"
prereq for this ticket: https://github.com/thenewboston-developers/Website/issues/335 - must be completed before this ticket

update these three icons to use the mdi-icons

![Screen Shot 2020-10-29 at 11 44 34 PM](https://user-images.githubusercontent.com/5943963/97669145-b57c8d80-1a40-11eb-8ece-56cf9aebc76d.png)

[2020-10-30 19:40] aayushi14 commented on #336
Will do it.

[2020-10-31 01:59] #320 closed

[2020-10-31 02:30] #319 closed

[2020-10-31 02:56] #335 closed

[2020-10-31 03:00] angle943 commented on #336
#335 has been merged. So this one is ready!

[2020-10-31 22:30] aayushi14 commented on #333
I think 2nd point should have **by** instead of **for**:
Update main subtext to 'Learn to code, collaborate on projects, gain experience, build a community, and earn coins **by** contributing.'

[2020-11-01 01:22] #336 closed

[2020-11-01 03:52] #317 closed

[2020-11-01 04:31] aayushi14 commented on #333
Can you assign this to me?

[2020-11-01 04:41] kristykjlee commented on #333
@aayushi14 You got it! All yours

[2020-11-01 18:02] aayushi14 opened #347 "Top navigation popover clickable when closed"
**Bug Description**
After clicking on the top navigation bar and selecting one of the options from the dropdown, the page navigates to the selected option and the popup closes, but the the popup area is still clickable.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'topNavBar'-> Click on 'Community'
2. Click on 'Leaderboard'
3. Keep mouse pointer on the first contributor's top-

[2020-11-01 18:04] angle943 commented on #333
@aayushi14 btw, you no longer need to ask for assignment. We've recently changed to take more of a first-come first-serve approach

[2020-11-01 20:44] angle943 opened #349 "When going to `/tasks`, make it automatically default to `/tasks/All`"
currently, when you try to navigate to `/tasks`, you get a 404. I want to update this so that it defaults to `/tasks/All`.

After doing this, find in our codebase where we have navigational links to `/tasks/All` (or `/tasks/${Repository.all}`), and update those urls to just `/tasks`

[2020-11-01 20:50] #333 closed

[2020-11-01 20:52] angle943 commented on #333
@aayushi14 Paid! thanks you :D

[2020-11-01 21:29] angle943 commented on #347
ah yeah, i saw this bug in the morning :(. Hotfix has been deployed, it should be fixed now

[2020-11-01 21:29] #347 closed

[2020-11-01 23:04] #322 closed

[2020-11-01 23:17] angle943 opened #351 "Put "Hello World" in your OWN language!"
![helloworld](https://user-images.githubusercontent.com/5943963/97818023-d0275000-1c54-11eb-9c27-69099f35fd8d.png)

We currently have a text in the homepage where the "Hello World" loops through in different languages. We want you to add your own language!

in the file `/src/containers/Home/HomeHero/hello-world.ts`, you will find the `HelloWorld` object. The key must be in the two-letter ISO code

[2020-11-01 23:24] woosal1337 commented on #351
Salam, Dünya!

[2020-11-01 23:24] angle943 commented on #351
gotta open up a Pull request @woosal1337 !

[2020-11-01 23:25] woosal1337 commented on #351
Which, branch?

[2020-11-01 23:35] Yamen2 commented on #351
مرحبًا يا عالم
Marhabaan ya-alealam

[2020-11-01 23:44] angle943 opened #353 "Add a Q&A on how to open up a pull request"
add a new question & answer on our FAQ page giving a detailed explanation on how to open a new Pull request

[2020-11-01 23:53] angle943 opened #355 "iPad homepage scrolling issue"
when on the homepage on an iPad, there's two issues:

1) scrolling is not fluid
2) It appears that whenever the "Hello world" gets updated, the screen flicks back to the top.

Try to find a fix for these issues

[2020-11-02 00:15] angle943 commented on #249
@webdeveloperswj does this issue still exist?

[2020-11-02 00:33] angle943 commented on #211
@webdeveloperswj @guptstagram is this still an issue?

[2020-11-02 00:35] angle943 opened #357 "no more stickies on website"
- [ ] Remove all sticky navigation on the marketing website.
- [ ] Remove all vertical lines on the right of the side menu for Documentation, Tasks, Openings, Leaderboard
- [ ] Move all side menus on the marketing site to be left aligned to the top nav tnb logo.
- [ ] Put radius of 6px on all the side menu selected state

[2020-11-02 00:38] brmendez commented on #353
Is this assuming the user has already cloned and is able to run the project?

[2020-11-02 01:08] #357 closed

[2020-11-02 02:00] angle943 commented on #353
@brmendez lets not assume anything. Actually lets just assume the user has github, and has git installed on their comp

[2020-11-02 02:01] #330 closed

[2020-11-02 04:19] buckyroberts opened #364 "Integrate GitHub OAuth into Front-end"
Integrate GitHub OAuth into front-end. After users login to their GitHub accounts, they should be redirected back to our app, and our app should be able to access their GitHub information using the user's access token.

We can just `console.log` their user information for now. No UI needed (aside from any buttons/links needed for testing the flow).

[2020-11-02 05:05] webdeveloperswj opened #366 "[Laptop Devices] Site is not responsive moves horizontally"
Url : https://thenewboston.com/
http://recordit.co/Qv9dkNA7p7

[2020-11-02 05:24] itsnikhil commented on #366
Came here to report the issue xD

[2020-11-02 05:30] #353 closed

[2020-11-02 05:42] #349 closed

[2020-11-02 05:52] angle943 opened #368 "Upgrade A couple of our dependency libraries"
reference: https://github.com/thenewboston-developers/Account-Manager/pull/386/files

Upgrade the following packages (if they exist on the website)
![Screen Shot 2020-11-01 at 9 47 57 PM](https://user-images.githubusercontent.com/5943963/97834292-54e19080-1c8c-11eb-84ed-ab9e4c5b56e7.png)

When you finish, make sure the app doesn't break, and run `npm run lint`, and make sure there are no linting e

[2020-11-02 05:53] amarjeet987 commented on #368
👋

[2020-11-02 06:03] angle943 opened #369 "Make the Footer's background color go all the way to the bottom"
On pages with less content, such as '/downloads', the footer's dark background color doesn't extend all the way to the bottom:

![Screen Shot 2020-11-01 at 9 56 20 PM](https://user-images.githubusercontent.com/5943963/97834821-97f03380-1c8d-11eb-9dae-4c3148cde439.png)

Make it such that this color stretches all the way to the bottom of the page, without arbitrarily giving the footer more height.

[2020-11-02 06:04] #247 closed

[2020-11-02 06:22] negoziator commented on #351
Hej verden 🇩🇰

[2020-11-02 06:23] lapstjup commented on #369
Hi @angle943 , When I go to the downloads page, there is no white space at bottom of footer. I am running it on macOS.

[2020-11-02 06:23] webdeveloperswj opened #371 "[iPhone5/SE] Site moves horizontally"
Url  : https://thenewboston.com/
http://recordit.co/yAVMuOr72D

[2020-11-02 06:28] aayushi14 commented on #369
@lapstjup To reproduce, check in iPad pro (1024x1366).

[2020-11-02 06:29] webdeveloperswj opened #372 "[FAQ] Link on FAQ page should open in same as they are not external links"
Url : https://thenewboston.com/faq
Link to below text should not open in new tab
![image](https://user-images.githubusercontent.com/59204822/97836673-d07e2480-1d02-11eb-92ac-11eac393a1ac.png)

[2020-11-02 06:31] webdeveloperswj opened #373 "[FAQ] Remove the # coming when hovered on questions"
Url : https://thenewboston.com/faq
![image](https://user-images.githubusercontent.com/59204822/97836792-0d4a1b80-1d03-11eb-9cb0-2ce6c6c7a226.png)

[2020-11-02 06:42] webdeveloperswj opened #374 "[Download] Make spacing equal on Download page"
Url : https://thenewboston.com/download
![image](https://user-images.githubusercontent.com/59204822/97837611-8c8c1f00-1d04-11eb-9b37-49e59b6446ca.png)

[2020-11-02 06:48] itsnikhil commented on #373
Are you sure about removing that... I think it is there for a purpose

[2020-11-02 06:49] webdeveloperswj commented on #373
When clicked on it remains on same page so

[2020-11-02 06:54] amarjeet987 commented on #368
react-scripts require eslint version 6.6.0, so made that change. Rest of them are updated.

[2020-11-02 07:26] amarjeet987 commented on #368
As per this, https://github.com/facebook/create-react-app/blob/master/CHANGELOG.md for eslint 7+ we need to update the react-scripts, let me know if I should proceed with this

[2020-11-02 07:53] itsnikhil commented on #373
Yes, it is a common practice to have this kind of functionality to jump between sections within the same page. For example: If you want to share specific question you can use that #link so that page will open to that section with that question. That being said, jump links are good for long pages but FAQ isn't that long.
Please consult with design team first and I will be happy to resolve the issue

[2020-11-02 07:59] buckyroberts commented on #373
We can keep them. The FAQ section will soon be much longer and we want to be able to link people to specific questions.

[2020-11-02 07:59] #373 closed

[2020-11-02 11:14] DWK55 commented on #351
hi im new to programming but have some experience i just dont know where src/containers/Home/HomeHero/hello-world.ts is to edit to "de"

[2020-11-02 14:22] webdeveloperswj commented on #249
Yes @angle943

[2020-11-02 14:22] webdeveloperswj commented on #211
Yes @angle943

[2020-11-02 15:50] #369 closed

[2020-11-02 16:08] angle943 commented on #372
this has been resolved recently!

[2020-11-02 16:08] #372 closed

[2020-11-02 17:33] Niekon01 opened #385 "The footer icons for small screen devices are not centered"
**Bug Description**
The footer icons for small screen devices are not centered.

**Screenshots/Recordings**
![Capture](https://user-images.githubusercontent.com/55133485/97899598-84150200-1d5f-11eb-867a-5aa0a2ae9f1b.JPG)

**Account Number**
18c07b4227cb0993fa7a1db834834e42461a0d9f61b2b157dfbfee625bbf3de6

[2020-11-03 03:19] buckyroberts opened #387 "Opening Updates"
Remove the following openings from the website (since they are already filled or no longer needed)
- Hiring Manager
- Accounting Manager (Python)
- Slack Community Manager

Update the following UI/UX Design Lead opening to:
- Position: `UI/UX Design Lead` > `UX/UI Designer`
- Technology Requirements: `Figma ` > `Figma or Sketch`

[2020-11-03 03:31] buckyroberts opened #388 "Opening Left Menu Logic"
When you are viewing a specific opening details and you click on an opening category, you should be taken to that opening category page.

## When you click this...
<img width="1258" alt="menunav" src="https://user-images.githubusercontent.com/8547538/97947273-9b44f700-1d41-11eb-8a00-f0b2c5b940c1.png">

## You should be taken here
<img width="1261" alt="Screen Shot 2020-11-02 at 7 29 35 PM" src="ht

[2020-11-03 04:40] angle943 commented on #385
https://github.com/thenewboston-developers/Website/pull/384 solves this

[2020-11-03 04:40] #385 closed

[2020-11-03 04:41] angle943 opened #389 "Download page needs design update for iPhone 5"
![Screen Shot 2020-11-02 at 8 41 07 PM](https://user-images.githubusercontent.com/5943963/97950469-cdf3ed00-1d4b-11eb-92ec-8d3af6144e79.png)

[2020-11-03 04:47] buckyroberts opened #390 "Cloud Security Engineer"
Add the following job opening to the website.

***

#### Job Title
Cloud Security Engineer

#### Job Description
Seeking a Cloud Security Engineer to provide cyber security expertise in the analysis, assessment, development, and evaluation of security solutions and architectures to secure applications, operating systems, databases, and networks.

#### Responsibilities
- Develops standards, policie

[2020-11-03 04:56] lapstjup commented on #389
@kristykjlee
Cause of the issue:-
The individual tabs have a margin right of 42px and so this doesn't scale down on mobile devices with width <= 400px.
Should this margin right be made auto after 400px or is there a certain amount we still want to maintain ?

[2020-11-03 04:58] buckyroberts opened #391 "Python Security Engineer"
Add the following job opening to the website.

***

#### Job Title
Python Security Engineer

#### Job Description
As Python Security Engineer you'll be a key member of the security team. You'll be responsible for influencing engineering to adopt security and privacy by design and internal consulting on remediating security vulnerabilities.

#### Responsibilities
- Help harden our infrastructure to

[2020-11-03 05:01] itsnikhil commented on #387
Taking this 👋

[2020-11-03 05:07] buckyroberts opened #392 "Cryptography Security Engineer"
Add the following job opening to the website.

***

#### Job Title
Cryptography Security Engineer

#### Job Description
Seeking a Cryptography Security Engineer to help secure our digital currency network.

#### Responsibilities
- Security/privacy reviews of critical digital currency related code, both client-side and server-side
- Reviewing, designing, and implementing cryptographic protocols
- W

[2020-11-03 05:12] buckyroberts opened #394 "Senior DevOps Engineer"
Add the following job opening to the website.

***

#### Job Title
Senior DevOps Engineer

#### Job Description
As Senior DevOps Engineer you will be a key contributor to designing, building, testing, managing, and maintaining some of the key technology that powers our digital currency network.

#### Responsibilities
- Analyze, troubleshoot and resolve system, software, network, and storage failur

[2020-11-03 05:19] angle943 opened #395 "Remove a line in all of our job openings"
https://thenewboston.com/openings if you go to our job openings, a lot of the engineering jobs has this line:

"Ineligible for task points (you will be creating tasks for your team)"

Please remove this sentence in all the places that has it
![Screen Shot 2020-11-02 at 9 17 17 PM](https://user-images.githubusercontent.com/5943963/97952065-0cd87180-1d51-11eb-98d5-5852b5cf8382.png)

[2020-11-03 05:23] itsnikhil commented on #395
Taking this 👋

[2020-11-03 05:27] lapstjup commented on #394
I will take this.

[2020-11-03 05:29] buckyroberts opened #398 "Junior Python (Django) Developer"
Add the following job opening to the website.

***

#### Job Title
Junior Python (Django) Developer

#### Job Description
We are seeking a Junior Python (Django) Developer to work collaboratively with team members to develop and contribute to our digital currency network.

#### Responsibilities
- Expand your Python skills by working on packages, services, scripts, and deployments in a collaborativ

[2020-11-03 05:34] kristykjlee opened #399 "add the floating button that takes us to the top of the page"

[2020-11-03 05:35] itsnikhil commented on #398
On it!

[2020-11-03 05:37] buckyroberts opened #400 "Blockchain Cryptocurrency Researcher"
Add the following job opening to the website.

***

#### Job Title
Blockchain Cryptocurrency Researcher

#### Job Description
Looking for a Blockchain Cryptocurrency Researcher who has the ability to proactively identify strategic opportunities and research new developments related to cryptocurrency. The candidate should have a deep understanding of computer science, distributed systems, consensus

[2020-11-03 05:45] buckyroberts opened #401 "Head of Python Client Library Development"
Add the following job opening to the website.

***

#### Job Title
Head of Python Client Library Development

#### Job Description
As Head of Python Client Library Development you will be responsible for leading the development efforts for our Python client library.

#### Responsibilities
- Writing technical documentation
- Recruiting Python developers
- Help assist other developers while managing

[2020-11-03 05:45] angle943 opened #402 "iPhone clicking on top of the iphone doesn't scroll the website up"
Usually, when you need to scroll up to the top of the page on an iphone, you click the top of your phone, and this should scroll the website up to the top. But on our website, it doesn't.

[2020-11-03 05:50] itsnikhil commented on #401
:)

[2020-11-03 06:04] thesanjeevsharma commented on #388
Hey, I am working on this!

[2020-11-03 06:05] buckyroberts opened #403 "YouTube Educator"
Add the following job opening to the website.

***

#### Job Title
YouTube Educator

#### Job Description
We are looking for YouTube Educators with technology, programming, or cryptocurrency related channels to collaborate with [thenewboston](https://www.youtube.com/user/thenewboston).

#### Responsibilities
- Create high quality educational tutorials
- Listen to feedback from community on which t

[2020-11-03 06:09] itsnikhil commented on #403
What category would this role come under?
(Accounting/Community/Design/Engineering/Marketing)

[2020-11-03 06:10] buckyroberts commented on #403
@itsnikhil Community

[2020-11-03 06:17] buckyroberts opened #406 "Recruiter for YouTube Educators"
Add the following job opening to the website.

***

#### Job Title
Recruiter for YouTube Educators

#### Job Description
Seeking a Recruiter for YouTube Educators who is able to recruit technology, programming, or cryptocurrency related YouTubers. You will be reaching out regarding collaboration with [thenewboston](https://www.youtube.com/user/thenewboston) as we continue to provide free high qual

[2020-11-03 06:17] angle943 opened #407 "HashTag links doesn't go to desired location"
when clicking on a hashtag link, it goes underneath the Topnav.

[2020-11-03 06:21] lapstjup commented on #394
Quick question - reportsTo has support for github right now. Do we maintain that or add slack username to it ? Since you mentioned Slack here.

[2020-11-03 06:23] buckyroberts opened #408 "Recruiter for Cryptocurrency Partnerships"
Add the following job opening to the website.

***

#### Job Title
Recruiter for Cryptocurrency Partnerships

#### Job Description
Seeking a Recruiter for Cryptocurrency Partnerships as we continue to strategically grow our digital currency network.

#### Responsibilities
- Reaching out to other cryptocurrency related websites, businesses, and communities regarding strategic partnerships
- Joining

[2020-11-03 06:29] aayushi14 commented on #408
Category?

[2020-11-03 06:36] buckyroberts opened #410 "Head of Guerrilla Marketing"
Add the following job opening to the website.

***

#### Job Title
Head of Guerrilla Marketing

#### Job Description
We are looking for a Head of Guerrilla Marketing to help grow our project. The ideal candidate must have a proven success record of developing, implementing, tracking and optimizing digital marketing strategies for our digital currency network. Experience working with actual gorilla

[2020-11-03 06:44] buckyroberts opened #411 "Python / Django Developer"
Add the following job opening to the website.

***

#### Job Title
Python / Django Developer

#### Job Description
We are looking for a Python / Django Developer to help us build out both our digital currency network and Website API.

#### Responsibilities
- Designing and creating RESTful APIs
- Participating in architectural, design and product discussions
- Working in an environment with an exce

[2020-11-03 06:44] itsnikhil commented on #411
Taking this

[2020-11-03 06:52] buckyroberts commented on #408
@aayushi14 Community

[2020-11-03 06:56] buckyroberts opened #413 "Task page margin"
<img width="1368" alt="margin" src="https://user-images.githubusercontent.com/8547538/97956830-8b87db80-1d5e-11eb-9c1b-3221741e951c.png">

[2020-11-03 06:57] buckyroberts commented on #274
Closing, outdated since entire marketing page including messaging has been updated

[2020-11-03 06:57] #274 closed

[2020-11-03 06:57] lapstjup commented on #402
Interesting. I will like to take this.

[2020-11-03 06:58] buckyroberts commented on #229
Added to FAQ

[2020-11-03 06:58] #229 closed

[2020-11-03 07:06] itsnikhil commented on #413
This looks similar to #369 which I have already fixed. You can close this issue :)

[2020-11-03 07:12] thesanjeevsharma commented on #364
Hey @buckyroberts, If you have enough time bandwidth for this feature I would love to work on this one.

If it's requried urgently, you can assign it to someone else.

[2020-11-03 10:38] lapstjup opened #417 "Opening's starting content not in focus"
**Bug Description**
Currently when you click on an opening card, the scroll position remains intact and the opening has to be scrolled up manually to view the details.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to [thenewboston/openings](https://www.thenewboston.com/openings)
2. Scroll down and click on Mobile Team Lead opening

**Expected behavior**
The beginning of a particul

[2020-11-03 16:06] angle943 commented on #417
nice find @lapstjup

[2020-11-03 16:08] angle943 commented on #417
Please use the hook `useScrollToTopContainer` when working on this issue

[2020-11-03 16:09] lapstjup commented on #417
Cool I will work on this then.

[2020-11-03 16:10] angle943 commented on #413
this issue still exists. @kristykjlee

[2020-11-03 16:17] itsnikhil commented on #413
Are your sure about this because for me in "development" branch. This doesn't exists

[2020-11-03 16:30] angle943 opened #420 "Update our README.md"
A lot of open source repos have beautiful & meaningful READMEs, unfortunately this does not apply to our repo (yet!).

This will be more of an open-ended project for anyone willing to take it. Let's try to make our README as nice as possible, while at the same time having the relevant info it needs.

Suggestions that I have:

1) perhaps a link to our Q&A section on how to create a PR.
2) Explain t

[2020-11-03 16:57] thesanjeevsharma commented on #420
Hey, I am working on this.

[2020-11-03 16:58] angle943 commented on #402
taking a wild guess, but it may have to do with the fact that our scroll behavior is on the `Layout` component. It might have to be on the `body`?

[2020-11-03 17:15] itsnikhil opened #423 "Vertical scrollbar appearing in left menu"
**Bug Description**
[Desktop] Vertical scrollbar appearing in left menu of leaderboard at certain categories where there are no items

**Steps to Reproduce**
1. Go to 'https://www.thenewboston.com/leaderboard/All'
2. Click on 'Any category that does not have any item to display (for ex: thenewboston-python)'
3. Scrollbar will appear

**Expected behavior**
Layout should have more height so that scr

[2020-11-03 17:26] angle943 commented on #423
fantastic find @itsnikhil !

[2020-11-03 18:06] lapstjup commented on #402
I have done scroll behaviour in past on Layout like wrapper component and still the scroll behaviour was supported on iPhone. Need to check more on this.

[2020-11-03 20:18] buckyroberts commented on #364
@thesanjeevsharma all yours 👍

[2020-11-03 22:32] buckyroberts opened #432 "Auto Scroll to Top on Page Change"
When reading through the documentation pages and you click the next page using the bottom links, it no longer pops the user to the top of the page. Please add this logic back in.

Example URL: https://thenewboston.com/guide/root-account-file

<img width="787" alt="Screen Shot 2020-11-03 at 2 30 33 PM" src="https://user-images.githubusercontent.com/8547538/98047731-4953ae00-1de1-11eb-9e92-e68637407

[2020-11-04 00:11] kristykjlee commented on #285
This ticket is being resolved with issue #315

[2020-11-04 00:11] #285 closed

[2020-11-04 01:16] #401 closed

[2020-11-04 01:23] #400 closed

[2020-11-04 01:35] #403 closed

[2020-11-04 01:44] #410 closed

[2020-11-04 02:02] aayushi14 commented on #432
This will be resolved with PR #422

[2020-11-04 02:41] angle943 commented on #388
@thesanjeevsharma you're right, we should update our routings. Here are the new acceptance criteria.

1. make our routes `/openings/:category` for the openings overview page, and `/openings/:category/:openingId` for the detail page.
2. please take a look at how we handle things at `/tasks`, and try to imitate the logic in there as much as possible (as much as it is reasonable to).
3. going to `/op

[2020-11-04 02:46] thesanjeevsharma commented on #388
Got it! Working on it.

[2020-11-04 02:49] #394 closed

[2020-11-04 03:09] #387 closed

[2020-11-04 03:14] #395 closed

[2020-11-04 03:19] #398 closed

[2020-11-04 03:25] #417 closed

[2020-11-04 03:43] #390 closed

[2020-11-04 03:46] #391 closed

[2020-11-04 03:55] #392 closed

[2020-11-04 04:05] #406 closed

[2020-11-04 04:08] #408 closed

[2020-11-04 04:09] #432 closed

[2020-11-04 04:29] angle943 commented on #315
this one is not ready for engineering yet

[2020-11-04 07:11] #423 closed

[2020-11-04 07:21] angle943 commented on #366
@itsnikhil mobile is part of this issue: https://github.com/thenewboston-developers/Website/issues/389

[2020-11-04 07:23] #366 closed

[2020-11-04 07:26] itsnikhil opened #437 "Overlapping of text on top of expanded navbar"
**Bug Description**
[Mobile] Overlapping of "Top Contributors" on top of expanded navbar in the leaderboard page

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:3000/leaderboard/All'
2. Click on 'Hamburger icon'
3. See text overlapping

**Expected behavior**
Ordering of expanded navbar elements should be on top of everything else

**Screenshots/Recordings**
![lo

[2020-11-04 07:27] buckyroberts opened #438 "Rename "Points" to "Coins""
Rename "points" to "coins" across the codebase.

- documentation
- file names
- function names
- variables
- etc...

[2020-11-04 07:32] angle943 commented on #437
nice find. i'll work on this

[2020-11-04 07:33] amarjeet987 commented on #438
I'll take this.

[2020-11-04 07:35] #437 closed

[2020-11-04 07:41] kristykjlee opened #440 "Donations page"
**Top Nav & Footer Update**
- [ ] For top nav, FAQ & Donate buttons are going to go under a 'More' dropdown on the left of the Download button.
- [ ] For footer, FAQ & Donate buttons under 'More'

**Donate Page**
- [ ] TNB Account: b6e21072b6ba2eae6f78bc3ade17f6a561fa4582d5494a5120617f2027d38797
- [ ] Bitcoin Address: 3GZYi3w3BXQfyb868K2phHjrS4i8LooaHh
- [ ] Ethereum Address: 0x0E38e2a838F0B20872E

[2020-11-04 07:42] kristykjlee opened #441 "Switch thenewboston & bitcoin block on landing page"
On the 'About our digital currency' section, switch thenewboston & bitcoin block on landing page, so that thenewboston is on the left and bitcoin is on the right.

https://www.figma.com/file/ChyT88EmP2Rmzx35I9erCL/Marketing-Site?node-id=1278%3A3945

[2020-11-04 08:29] amarjeet987 commented on #438
Updated and made a PR, https://github.com/thenewboston-developers/Website/pull/442

[2020-11-04 12:09] lapstjup commented on #402
@angle943 Your wild guess was a good one. Layout cannot have the scroll behaviour but along with that few more things are needed to be taken care of which I have mentioned in above PR.

[2020-11-04 15:28] #420 closed

[2020-11-04 15:34] angle943 commented on #438
this is good work @amarjeet987 , you even changed the `AccountManagerSendPoint` component. nice nice

[2020-11-04 15:39] angle943 opened #445 "Update "Send Coin" image"
Currently, our doc page https://thenewboston.com/account-manager/send-coins has an image that uses the word "point" rather than "coin".

![Screen Shot 2020-11-04 at 7 37 51 AM](https://user-images.githubusercontent.com/5943963/98131992-bf532600-1e70-11eb-825e-33dbc880b6fe.png)

Once the Account Manager's renaming issue is done: https://github.com/thenewboston-developers/Account-Manager/issues/422

[2020-11-04 15:39] angle943 commented on #438
opened up an Account Manager counterpart: https://github.com/thenewboston-developers/Account-Manager/issues/422

Once that is done, we can update the image too: https://github.com/thenewboston-developers/Website/issues/445

[2020-11-04 15:42] #438 closed

[2020-11-04 15:55] angle943 commented on #355
@lapstjup i will test this one once your changes are live. It was only happening on an actual iPad. If it's fixed, you'll be paid for this one as well

[2020-11-04 17:00] lapstjup opened #446 "Get Started / Community chevron icon disappears on toggle in Safari"
**Bug Description**
When the **Get Started** or **Community** dropdown is clicked, the _up chevron icon_ disappears in Safari browser.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to [thenewboston](https://thenewboston.com) in Safari browser.
2. Click on **Get Started** dropdown.

**Expected behavior**
The up and down chevron toggle should work properly.

**Actual behavior**
The

[2020-11-04 18:04] #388 closed

[2020-11-04 18:29] Niekon01 commented on #445
The second image on this page as well: https://thenewboston.com/account-manager/create-an-account

[2020-11-04 19:29] angle943 opened #448 "Front-end Responsiveness/UX expert"
Add the following job opening to the website.

***

#### Job Title
Front-end Responsiveness/UX expert

#### Job Description
We're looking for an experienced Front-end engineer who is able to test incoming PRs' design/responsive behavior. You will primarily be working on the Account Manager and Website repositories.

#### Responsibilities
- Perform code reviews on incoming PRs, testing specifically

[2020-11-04 19:51] aayushi14 commented on #448
On it

[2020-11-04 19:59] #441 closed

[2020-11-04 20:21] aayushi14 opened #451 "Popover content persists in the background"
**Bug Description**
Popover content persists in the background.

**Screenshots/Recordings**
![Screenshot1](https://user-images.githubusercontent.com/33564949/98163822-5344e200-1eb1-11eb-9891-78144b983101.png)
![Screenshot2](https://user-images.githubusercontent.com/33564949/98163837-56d86900-1eb1-11eb-84fc-b6ec2065252e.png)
[thenewboston - Google Chrome 2020-11-04 14-09-13.zip](https://github.com/

[2020-11-04 20:52] angle943 commented on #440
this ones mine. sorry contributors 8)

[2020-11-04 21:48] #440 closed

[2020-11-04 21:56] #448 closed

[2020-11-04 22:16] angle943 commented on #451
yeah @aayushi14 i noticed this too :( . i'm trying to fix now. i'm beginning to hate this popover component i created

[2020-11-04 22:27] #451 closed

[2020-11-04 22:28] #411 closed

[2020-11-04 22:32] angle943 opened #455 "Make the command 'npm run lint' run for Windows/Linux users"
currently, the command `npm run lint` doesn't work for Windows users (and possibly linux users). Lets update it such that it works for all platforms.

[2020-11-04 22:40] angle943 commented on #446
has to do with how safari handles the backface-visibility i believe

[2020-11-04 22:41] angle943 commented on #413
@itsnikhil try making the height of your browser smaller

[2020-11-05 00:49] moki298 commented on #455
@angle943 I made a simple fix which should fix that issue, but we can add a more robust solution using this [cross-env](https://www.npmjs.com/package/cross-env). Let me know your thoughts.

[2020-11-05 02:47] lapstjup commented on #355
@angle943 Were you able to test this?

[2020-11-05 03:00] Niekon01 commented on #371
Does this problem still exist @webdeveloperswj

[2020-11-05 04:13] Niekon01 commented on #445
I would like to take this issue.

[2020-11-05 05:04] angle943 commented on #455
@moki298 hey that sounds great! let's use `cross-env`

[2020-11-05 05:09] angle943 commented on #355
@lapstjup yup i just did! and it fixed it wonderfully. sending points your way

[2020-11-05 05:16] #355 closed

[2020-11-05 05:31] angle943 opened #461 "User Account Prereq - Integrate our AccountManager's Modal into the website"
AccountManager's Modal:
https://github.com/thenewboston-developers/Account-Manager/blob/master/src/renderer/components/Modal/index.tsx

Figma reference:
https://www.figma.com/file/ChyT88EmP2Rmzx35I9erCL/Marketing-Site?node-id=1353%3A1915

![Screen Shot 2020-11-04 at 9 27 39 PM](https://user-images.githubusercontent.com/5943963/98201462-940a1e80-1ee4-11eb-8002-727e12c2fb76.png)

please incorporate

[2020-11-05 05:39] angle943 commented on #371
this has been fixed i believe @Niekon01

[2020-11-05 05:39] angle943 commented on #445
sure @Niekon01 , the AccountManager will be done tonight I believe, so you cacn screen shot away soon

[2020-11-05 05:42] amarjeet987 commented on #461
I'll take it.

[2020-11-05 05:54] angle943 commented on #315
prereq: https://github.com/thenewboston-developers/Website/issues/461

[2020-11-05 05:54] lapstjup opened #462 "Get Started/Community dropdown positioning not coherent in Safari"
**Bug Description**
The dropdowns that come after clicking on Get Started/ Community text are not coherently positioned on zoom in Safari.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to [thenewboston](https://www.thenewboston.com/)
2. Zoom into Get Started text.
2. Click on Get Started text.

**Expected behavior**
The dropdown positioning should be consistent even on zoom.

**Ac

[2020-11-05 06:03] angle943 commented on #445
its ready for ya. Account Manager's repo has been updated

[2020-11-05 06:21] moki298 commented on #455
@angle943 hey sorry about my initial thoughts on cross-env, I was mislead by a comment in one of the  blogs where I researched this issue, but after reading the whole documentation of cross-env I don't think their module serves our purpose here. Their module is used in scenarios where we use env variables in npm scripts. I believe the simple fix I made should fix this and we just need to test this

[2020-11-05 20:16] nabiloo19 opened #471 "السلام عليكم - In Arabic"
**Bug Description**
A clear and concise description of what the bug is.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear and concise description of what actually happened.

**Screenshots/Recordings**
If a

[2020-11-05 20:37] Mutale85 commented on #407
Can you please elaborate?  <a href="#register">Register</a>
When you click, its not taking you to the desired results?

[2020-11-05 21:06] Unlkoc commented on #351
Hello World in Turkish #480

[2020-11-05 21:08] Ramin-RX7 commented on #351
Add Persian Hello World #477

[2020-11-05 21:11] Unlkoc commented on #351
Hello World in Turkish #500

[2020-11-05 21:19] angle943 commented on #471
open up a pull request please (if you haven't done so already)

[2020-11-05 21:19] #471 closed

[2020-11-05 21:36] TakshPanchal commented on #296
Hey @buckyroberts  , I want to resolve tbis issue . May I know data and endpoint you are talking about?

[2020-11-05 21:44] gunars-b commented on #351
Added Hello World in Latvian

[2020-11-05 22:14] VJKLFT commented on #351
Added Hello World in Dutch #490

[2020-11-05 22:17] angle943 commented on #455
coins are given out irregardless of whether or not the solution is simple or not ;)

[2020-11-05 22:33] kryptonian41 commented on #446
@angle943 yes I think if we set `backface-visibility: visible` explicitly when Icon **_TopNavPopoverButton__chevron-icon--open_** class is applied to the chevron icon, that will solve the issue.

[2020-11-05 23:49] kristykjlee opened #495 "Join Our Community! page revamp"
This ticket is assigned to @lukas-kasticky .

**Potential considerations**
- number of growing community members
- information on what each social media is used for
- anything else that you think would be helpful!

[2020-11-05 23:55] kristykjlee opened #496 "FAQ page research"
This ticket is assigned to @swoy .

**Potential considerations:**
- Research what additional information/Q&A would be helpful to include that will help people understand what the community is about or doing.

[2020-11-06 01:49] peageam commented on #496
- It is better if the link for the youtube channel is in the answer for the "What is the newboston?" question.
-

[2020-11-06 03:03] #455 closed

[2020-11-06 03:13] #445 closed

[2020-11-06 03:37] buckyroberts opened #503 "Static Teams Page"
https://www.figma.com/file/ChyT88EmP2Rmzx35I9erCL/Marketing-Site?node-id=1278%3A979

Add a link to the Teams page in the top navigation. Include static data for now until we hook everything up to the API to help us organize into teams.

<img width="669" alt="Screen Shot 2020-11-05 at 7 38 59 PM" src="https://user-images.githubusercontent.com/8547538/98323428-98930d80-1f9e-11eb-9d8d-80b1fbaff5b3.pn

[2020-11-06 04:28] itsnikhil commented on #503
Taking this

[2020-11-06 05:04] angle943 commented on #407
ah sorry guys, this one's mine

[2020-11-06 05:09] murattimurtas commented on #351
Merhaba Dünya

[2020-11-06 05:09] murattimurtas commented on #351
"Merhaba Dünya" in turkish

[2020-11-06 05:50] #503 closed

[2020-11-06 06:30] angle943 opened #515 "Change leaderboard's default filter"
![Screen Shot 2020-11-05 at 10 26 53 PM](https://user-images.githubusercontent.com/5943963/98333801-62618800-1fb6-11eb-85da-4d53dc5a3672.png)

Currently, when you go to the leaderboard page, it defaults to the `All` feature. Change this such that it defaults to `7d`

[2020-11-06 07:16] angle943 opened #517 "Linux download instructions update"
make the linux download instructions work for any version type

[2020-11-06 07:18] #517 closed

[2020-11-06 07:48] kaneki666 commented on #351
i can write the full documentation in my language in Bengali! if you need

[2020-11-06 07:51] kryptonian41 commented on #407
@angle943 I can take up this issue

[2020-11-06 08:01] kristykjlee opened #523 "Design Assets page"
place for people to download our logo

[2020-11-06 08:24] aEmreAydemir commented on #351
Merhaba, Dünya !

[2020-11-06 08:25] Utkarsh-Patel-13 opened #527 "[Desktop Browser] Download button/link clickable beyond the button"
The download link spans beyond the download button.

![recording](https://user-images.githubusercontent.com/30389481/98343270-9761ef00-2037-11eb-8c0e-11aff323b3c7.gif)

[2020-11-06 08:39] dahelg commented on #515
@angle943 Could you assign this to me, please?

[2020-11-06 09:14] webdeveloperswj opened #534 "Following Devices And Browsers Website Not Loading"
**Bug Description**
Website Not Open Following Devices And Browsers

**Steps to Reproduce**
Steps to reproduce the behavior:
1.Following Devices And Browsers Go through

2) Websites not open
Source URL: https://thenewboston.com/
| Device | iPad 4 |
| Browser | Tablet_safari |
| Operating System | iOS 7.0 |
| Resolution | 1536 x 2048 px |
| Screen size | 9.7 in - 5.8 x 7.8 in |
| Viewport | 768 x 1

[2020-11-06 09:24] webdeveloperswj opened #536 "[Internet Explorer] Website Not Loading"
**Bug Description**
Website not open In internet Explorer

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'IE' (internet Explorer)
2.Enter Following Url "https://thenewboston.com/"

**Expected behavior**
Website supports Every Browser

**Actual behavior**
Website not supports internet explorer

**Screenshots/Recordings**
https://prnt.sc/vejidh

Source URL: https://thenewboston.co

[2020-11-06 09:29] johnjacobkenny commented on #515
@dahelg I don't mean to undercut you, but I think the line to change is [here](https://github.com/thenewboston-developers/Website/blob/223e5750fbcbcd7d5af0130541f526b5a3a117b0/src/containers/Leaderboard/index.tsx#L34)

[2020-11-06 09:54] whitelionx commented on #527
I will fix it quickly :)

[2020-11-06 10:18] thesanjeevsharma commented on #527
@angle943 Verified! 👍

[2020-11-06 10:19] whitelionx commented on #527
Fixed in #537

[2020-11-06 10:22] zinoadidi commented on #536
I will fix this

[2020-11-06 10:33] thesanjeevsharma commented on #536
@webdeveloperswj @angle943 I think this issue is a duplicate of #211

[2020-11-06 10:38] zinoadidi commented on #211
can i attempt it?

[2020-11-06 11:41] zinoadidi commented on #249
#542

[2020-11-06 11:42] zinoadidi commented on #536
#542 Pull request submitted

[2020-11-06 13:39] thesanjeevsharma opened #547 "Teams page is not mobile responsive"
**Bug Description**
Teams page is not mobile responsive.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to [https://thenewboston.com/teams](https://thenewboston.com/teams) on any mobile device.

**Expected behavior**
Should be responsive on all screen sizes

**Actual behavior**
It is not responsive on mobile screens

**Screenshots/Recordings**

Checked in Browser
![image](https://u

[2020-11-06 15:48] Niekon01 opened #549 "Last updated date for Docs"
The Docs need to have a last updated date so that people who read them can know if they are up-to-date with the latest information.

[2020-11-06 16:09] thesanjeevsharma opened #550 "[Feature Request] Tasks should be sortable by time and coins"
Right now the tasks page([https://thenewboston.com/tasks/All](https://thenewboston.com/tasks/All)) doesn't have sorting.

Users should be able to sort tasks by `time` and `coins`.

[2020-11-06 16:16] mersimoski commented on #547
Hi, i would like to take this, thanks.

[2020-11-06 16:25] piyusharorawork opened #551 "Typo in Root Account file description"
**Bug Description**
In current documentation it is mentioned that the description of Root Account file as  A historic record (snapshot) of all account balances at a given **coin** in time instead of given **point** in time

![image](https://user-images.githubusercontent.com/31386968/98389584-445d5b80-207a-11eb-9d8f-201950ae8738.png)

[2020-11-06 17:20] angle943 commented on #550
@kristykjlee

[2020-11-06 17:32] JonasPik commented on #551
I will take a look at this, Thanks.

[2020-11-06 19:51] nrednav commented on #389
Hi @kristykjlee, have you already finished work on this? I tried my hand at fixing this but since I'm still kinda new to open source work I only realised after that you were already assigned to this.

This is what I've got so far: https://recordit.co/KLinLnhY1L

[2020-11-06 19:54] kristykjlee commented on #389
Hey! The updates look perfect! I will assign this ticket to you so you can get compensated for it.
@angle943 This ticket is assigned to @nrednav

[2020-11-06 20:01] nrednav commented on #389
Thanks! I will submit a PR soon.

[2020-11-06 20:48] mersimoski commented on #547
![image](https://user-images.githubusercontent.com/62712311/98413381-d1ec7b80-2079-11eb-93d8-7c20e10fea46.png)

[2020-11-06 23:12] dahelg commented on #515
@johnjacobkenny And this is why I ask before doing any work in parallel to anyone else... We should respect that every work takes some time. ✌️

[2020-11-07 00:14] buckyroberts opened #564 "Task Left Menu Issue"
@kristykjlee we have a new repo that we want to include on the Tasks page on the website, however the name of the repo is `thenewboston-python-client` which is a bit long.

<img width="856" alt="Screen Shot 2020-11-06 at 4 13 22 PM" src="https://user-images.githubusercontent.com/8547538/98425739-1f9dbf80-204b-11eb-9280-3087260d6d5b.png">

[2020-11-07 01:53] GameOverTM0289 commented on #547
I want to participate fixing this :D

[2020-11-07 01:59] jeremygblake commented on #547
I just used the Firefox mobile view option and it still is not responsive to the size of a mobile application.

[2020-11-07 02:33] johnjacobkenny commented on #515
@dahelg Yep :smiley:

[2020-11-07 02:39] theCow61 commented on #551
Am I doing this correctly by doing the PR and referencing this issue? I haven't really done much contributions on github before.

[2020-11-07 04:12] mofodox commented on #549
@Niekon01 I can provide the design for this.

[2020-11-07 04:35] LunarDeveloper commented on #551
I've found a couple references to "a coin in time". Was this possibly the intentional phrasing?

[2020-11-07 04:44] mofodox commented on #549
Here's the updated design Figma link:
https://www.figma.com/file/PIFGlnOLkEyTIEX2IPH1tw/Marketing-Site-%E2%80%93-TNB?node-id=55%3A0

@Niekon01

As per the discussed: @buckyroberts @kristykjlee

[2020-11-07 04:54] mofodox commented on #549
Here's my account number: ddef8a7ea0d98f8605703102f5b25e587d612ba7917afc1c9eb0ee904ae181c0

[2020-11-07 05:34] manishram commented on #564
Why not just replace thenewboston with TNB and write it like TNB-python-client?

![gregeg](https://user-images.githubusercontent.com/22790904/98432950-ffbcd900-20e8-11eb-995d-9939d4e1d02f.JPG)

[2020-11-07 05:58] mofodox commented on #564
And maybe the naming convention should be ‘TNB-Python’ and ‘TNB-Python-Client’?

[2020-11-07 06:37] #413 closed

[2020-11-07 06:48] myszon01 commented on #564
what projects thenewboston-python-client and thenewboston-python are mainly responsible for?

[2020-11-07 07:13] manishram commented on #523
Hey @kristykjlee , I want to work on it. Can you explain a bit more? I mean just thenewboston logos of different resolutions or something else?

[2020-11-07 07:16] manishram commented on #399
@kristykjlee On which page we have to add that button on any particular or all pages?

[2020-11-07 07:55] piyusharorawork commented on #551
@LunarDeveloper even I think the same . I guess since they renamed the term **points** to **coins**  during bulk replacement for documentation , this mistake might have happened .

[2020-11-07 08:15] #515 closed

[2020-11-07 08:18] manishram commented on #399
@kristykjlee I am working on it. Do you think the up facing thenewboston logo will be good?
![frefef](https://user-images.githubusercontent.com/22790904/98436242-d9566800-20ff-11eb-8104-7fe1d712873c.JPG)

[2020-11-07 08:31] thesanjeevsharma commented on #551
Fixed with #556

@LunarDeveloper @piyusharorawork Thanks for letting us know. I'll check and create a separate issue for this. 👍

[2020-11-07 08:31] #551 closed

[2020-11-07 08:45] mofodox commented on #399
@manishram I guess we can provide the icon yeah?

cc: @kristykjlee

[2020-11-07 08:46] piyusharorawork commented on #551
@thesanjeevsharma I have found few more occurences and created PR for this as well incase .

[2020-11-07 09:57] #527 closed

[2020-11-07 10:26] officialabdulrehman opened #581 "[Design] No Margin between Task Left Menu"
There is no gap between 2 tabs of Task Left Menu. ( Chrome )
Makes them look smudged if the current tab and next tab are the 2 consecutive tabs.

![margin](https://user-images.githubusercontent.com/33157081/98438630-7c61ae80-210d-11eb-8f2c-b5ea4e16c77b.png)

Giving 2px margin-bottom to [ .FlatNavLinks__option ] makes it look better:

![margin1](https://user-images.githubusercontent.com/33157081/98

[2020-11-07 10:36] stainlezzking commented on #564
since you already have a "thenewboston-python" that you're okay with, it's only symmetrical to name the other one "thenewboston-python-C" but if you're okay with changing both names, then I'll go with the idea of the guy above me  'TNB-python-client

[2020-11-07 10:43] btk opened #582 "Mobile drop-down menu blocking logo & icon during animation"
**Bug Description**
Mobile drop-down menu blocking logo & icon during animation. In general this might be a design desicion, but seems like a bug.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to any route with TabNav on a mobile device or smaller viewport
2. Toggle the menu by clicking the hamburger icon.
3. See the dropdown div is clipping the header.

**Expected behavior**
I wo

[2020-11-07 10:44] officialabdulrehman opened #583 "[Design] Avatar Icon not Centered."
Avatar circle has more gap on bottom than top.

![avatar](https://user-images.githubusercontent.com/33157081/98438944-b8960e80-210f-11eb-95dc-e2b282e5fdd9.png)

Adding margin-top: 7px to [ .LeaderboardContributor__user-avatar ] make it look better:

![avatar2](https://user-images.githubusercontent.com/33157081/98438971-014dc780-2110-11eb-83ff-135cf06dfedb.png)

[2020-11-07 10:45] btk commented on #582
If this was not a design desicion #584 resolves this.

[2020-11-07 11:16] amarjeet987 commented on #461
Made a PR: https://github.com/thenewboston-developers/Website/pull/585

[2020-11-07 11:30] BakungaBronson commented on #547
Hey guys. I'm willing to help out on this issue if an extra hand is needed.

[2020-11-07 11:30] manishram commented on #399
Currently, I am using the upside logo of thenewboston as the "Go to Up" button. Let me know if you want change :)

![go-to-top](https://user-images.githubusercontent.com/22790904/98439827-7f16d080-211a-11eb-8ee7-caa2b5f58111.gif)

[2020-11-07 12:08] lapstjup opened #587 "Dropdowns are not keyboard accessible"
**Bug Description**
The Get Started, Community and More dropdowns are not keyboard accessible.

**Steps to Reproduce**
Steps to reproduce the behavior:
Scenario 1:-
1. Go to [thenewboston](https://www.thenewboston.com/)
2. Click on Get Started or any other dropdown text.
3. Press Tab Key

Scenario2:-
1. Go to [thenewboston](https://www.thenewboston.com/)
2. Press tab key until you are over any of

[2020-11-07 12:16] Akash-S1999 commented on #564
I would recommend changing "thenewboston" to TNB. Like "TNB-python", "TNB-python-Client" In that way, it will look more appealing and simple.  Also, we can skip the word python and include it in the documentation part.
The latter idea is better as we can have a menu "TNB-python" and the subpart can be "TNB-python-client" or just "TNB-Client" as it will already be the subpart of "TNB-Python"

[2020-11-07 12:26] whitelionx commented on #581
I will fix it quickly

[2020-11-07 12:39] whitelionx commented on #581
Fixed the issue, please review and merge.

[2020-11-07 14:48] thesanjeevsharma commented on #583
@officialabdulrehman I don't think this is meant to be centered! If you look at the contributor on position 3, there are more tasks as compared to 1 and 2. This card will expand in height and hence avatar will be placed differently for each contributor. We wanna avoid that.

Let's get @kristykjlee's view on this.

[2020-11-07 14:53] kush-daga commented on #550
If it's okay, can I look into this? I might not be as experienced but I would love to give this a shot and try adding this feature.

[2020-11-07 15:10] Linzo99 commented on #547
#566 : **Fixed responsiveness for teams page**

[2020-11-07 15:17] JanGoO-dev commented on #564
I think this will be a better solution, If you don't want to change your repository name.
Bellow Image is a basic demonstration of the solution. I mean you should give a common title to both of these two repositories and make it unclickable while bellow that you should have two small buttons for each of the repositories.

Example:
thenewboston
--python
--python-client

I hope you understand. Engli

[2020-11-07 15:27] #583 closed

[2020-11-07 17:29] Ayush-Porwal commented on #564
@buckyroberts can I take this? I think this is easy and it would be a nice start for me. Thank you!

[2020-11-07 17:48] Hristijan95 opened #595 "Error 404 when refreshing any page (except the home page)"
**Bug Description**
If you navigate to any page (and reload the page), except for the home page, and monitor the Network activity in inspect element, you will notice that there is an error 404, however the actual page is loaded. I am not sure why is this happening, but it causes on some browsers to show that the page is down, for example if you use Brave, you get the top bar which says "Sorry, tha

[2020-11-07 18:24] #581 closed

[2020-11-07 18:34] manishram commented on #399
@kristykjlee Please let me know about the design of **floating button**.

[2020-11-07 18:34] BakungaBronson commented on #595
Could it be what is keeping the tasks page behind as well or do you think that is a separate issue?

[2020-11-07 18:39] Hristijan95 commented on #595
@BakungaBronson I don't know how are the GitHub issues fetched(I will take the time to see that later), but I think that's a separate issue, I don't see a connection between those.

[2020-11-07 18:39] thesanjeevsharma commented on #547
I'll fix this. 😄 Change in design, we need vertical cards.

[2020-11-07 18:40] BakungaBronson commented on #595
Sorry about that then. I will create a new issue on that

[2020-11-07 18:47] BakungaBronson commented on #547
I was thinking the same thing. On smaller devices, the text to the side just can't fit well without becoming too small, why not just put the text below the team member photo instead.

[2020-11-07 19:24] BakungaBronson opened #598 "Tasks page not reflecting new issues from GitHub"
**Bug Description**
The Tasks page https://thenewboston.com/tasks/All is not showing new open issues coming in from GitHub https://github.com/thenewboston-developers/Website/issues.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://thenewboston.com/tasks/All'
2. See error

**Expected behavior**
The https://thenewboston.com/tasks/All page gets the issues as they come in.

*

[2020-11-07 19:49] ArinzeJeffrey-droid commented on #547
I'd like to take this.

[2020-11-07 21:34] kristykjlee commented on #399
@manishram Heres the design for the floating button.

[2020-11-07 21:38] kristykjlee commented on #564
I like this idea, can someone implement this?

[2020-11-07 21:39] kristykjlee commented on #550
@kush-daga you can take this issue

[2020-11-07 21:43] kristykjlee commented on #523
You got it, so like you said, we just need a place for people to download our logo. Similar to how ethereum has a place where you can download their logos. https://ethereum.org/en/assets/
Here are the different logo sizes we've got. I'm going to assign you to this ticket.

[thenewboston logos.zip](https://github.com/thenewboston-developers/Website/files/5505472/thenewboston.logos.zip)

[2020-11-07 21:45] kristykjlee commented on #549
@buckyroberts Has this been paid for?

[2020-11-07 21:56] manishram commented on #564
Hey, @kristykjlee I want to work on it.  :)

[2020-11-07 22:31] kristykjlee commented on #389
@nrednav Copy and paste your account# so we can send you coins for completing the task :)

[2020-11-07 22:32] kristykjlee commented on #564
All yours!

[2020-11-07 22:34] nrednav commented on #389
@kristykjlee Thanks, it's: 4619c9fbc925437d7c81a0bdce60064d03d4697be86bc7621ad9cc894b637af6

[2020-11-08 04:35] mofodox commented on #287
@buckyroberts Based on my understanding from the design itself, the modal wanted to be like a mobile 'native'-esque modal which it will come up from the bottom. Is

[2020-11-08 04:36] mofodox commented on #287
@buckyroberts Based on my understanding from the design, the modal should come out from the bottom of the screen like a mobile native-esque experience. Is that right @kristykjlee ?

[2020-11-08 04:46] benjithorpe opened #607 "details for each member in the team page not showing fully on smaller devices"
**Bug Description**
On smaller devices/view-port, the details for each team member is not shown completely

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to https://thenewboston.com/teams
2. Resize the browser if you are using a laptop/desktop
4. See error

**Expected behavior**
The details need to be visible

**Actual behavior**
only the first few letters/words are visible on smal

[2020-11-08 07:01] thesanjeevsharma commented on #607
@benjithorpe Duplicate of #547. Closing this.

[2020-11-08 07:01] #607 closed

[2020-11-08 07:23] kush-daga commented on #550
Great! Is there any design resource I need to use for adding the "sort" menu option and label? @kristykjlee

[2020-11-08 07:37] #547 closed

[2020-11-08 07:55] manishram opened #614 "Vertical line(blinking cursor) everywhere when clicked on the website on Chrome Browser"
**Bug Description**
Most of the texts on the website when clicked gives a vertical line(blinking cursor).
This is a bug that is not only in the link I provided in the "Steps to Reproduce" but the other several pages are also affected by this.
This bug can be reproduced in "Chrome". The website is working well on Mircosoft Edge and Mozilla Firefox as intended.

**Steps to Reproduce**
Steps to repro

[2020-11-08 08:07] imcybergeek commented on #614
I think this is a client-side issue.
There's an option called "Navigate pages with a text cursor" in Accessibility settings, you'll need to disable this option.

Chrome Settings ​​--> Advanced --> Accessibility.
See if this fixes the issue and let me know.

[2020-11-08 08:10] manishram commented on #614
Seems like there is some problem with my Chrome Browser because the same behavior can be observed in all other websites.

[2020-11-08 08:10] #614 closed

[2020-11-08 08:18] manishram opened #615 "Blank page if chapter is not added in the documentation URL"
**Bug Description**
When the user goes to https://thenewboston.com/guide/ link it shows a blank white page.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to https://thenewboston.com/guide/
2. There is a white blank page

**Expected behavior**
It should redirect to https://thenewboston.com/guide/introduction

**Actual behavior**
There is a white blank page

**Screenshots/Recordings

[2020-11-08 08:24] manishram commented on #614
So I was using ScreenToGif Application to record my previous PRs working. This tool has a shortcut F7 to start recording and funny thing is that to turn on or off "Navigate pages with a text cursor" in chrome, there is shortcut F7 as well.

[2020-11-08 08:58] thesanjeevsharma commented on #536
Closing because this is a duplicate issue.

[2020-11-08 08:58] #536 closed

[2020-11-08 09:07] thesanjeevsharma commented on #615
It's a quick fix! I'll do it. 👍 Thanks for letting us know.

[2020-11-08 09:14] rahulkiller104 commented on #615
@thesanjeevsharma I am new to contributing to the Open-source project. This small fix will be my good starting PR. :) Thank you

[2020-11-08 09:44] Nevah422 commented on #523
I am new here, I have an idea and an easy solution for our logo download. I would like to help with this project.

[2020-11-08 09:48] #615 closed

[2020-11-08 09:53] thesanjeevsharma commented on #598
@BakungaBronson I checked this and found that what you're saying is partially true. It's fetching all the issues but only some are displayed. But under the hood, we are filtering issues that have an amount associated with them and no PR has been created to solve those issues.

This is not an issue. Closing.

[2020-11-08 09:53] #598 closed

[2020-11-08 09:55] thesanjeevsharma commented on #595
@Hristijan95 You wanna take this issue?

[2020-11-08 10:13] Hristijan95 commented on #595
@thesanjeevsharma Sure, I'm taking it.

[2020-11-08 11:11] mulilo commented on #523
hi im really new.
we just need a place for people to download our logo.

like a server or github page ?

thanks mulilo

[2020-11-08 11:17] Hristijan95 commented on #595
Okay, so I tested the scenario locally and it can't be reproduced, so I took a guess that the issue is not with the react app, but with the server configuration and I think that's the case. The solution and reason for this happening is explained in [this stackoverflow answer](https://stackoverflow.com/a/43557288).

Basically, it's a small configuration change in the nginx server (I hope that we us

[2020-11-08 11:23] Nevah422 commented on #523
I use mediafire.com they give you 1TB free to download content. The best part is every file you download gets its own link address. You can make it private or public, so once you create a link you would just that and be downloaded by whoever has link. I can create a link if neededThank you,AmySent from my Samsung Galaxy smartphone.
-------- Original message --------From: mulilo <notifications@gith

[2020-11-08 14:35] AbhayAysola opened #618 "[Feature Request] Dark Theme"
**Bug Description**
Not a bug,  but the website is currently only available in Light theme and an implementation of dark theme would be nice.

**Steps to Reproduce**
Steps to reproduce the behavior:
Visit [https://thenewboston.com/](https://thenewboston.com/)

**Expected behavior**
Darker colors to be used in the website

**Actual behavior**
Only light colors were used

**OS and Browser**
 - OS: W

[2020-11-08 16:13] taneishamitchell commented on #334
I'd like to take a crack at this, but see where overall documentation needs refactoring at some point. There are sections that are repetitive, e.g. "Blocks" is mentioned in Guides, Bank API, Validator API. Validator has multiple sections, etc.

@buckyroberts or @angle943 is there anything else I need to know before adding information about "Contributors and Tasks"? What else would you like to see

[2020-11-08 16:23] rahulkiller104 commented on #618
@AbhayAysola  can you assign me this task?

[2020-11-08 16:46] thesanjeevsharma commented on #595
@Hristijan95  Thank you for looking into it.

@buckyroberts Please have a look at this.

[2020-11-08 16:47] lapstjup opened #619 "Docs need some language/grammatical fixes"
**Bug Description**
There are not single but multiple instances of point renamed to coin where the meanings gets obscured. Also some grammatical nuances here and there.

**Places to fix as per my proof reading (Bold are incorrect and italics (if present) are correct) on the below routes**
1. **/guide/root-account-file :**
	 The root account file is a historic snapshot of all account balances at a

[2020-11-08 17:00] taneishamitchell commented on #619
👋 @lapstjup I'd be willing to work on this. I'll wait for a moderater to acknowledge

[2020-11-08 17:27] mulilo commented on #523
Thank you will follow it up.

Mulilo

On Sun, 8 Nov 2020, 1:23 pm Nevah422, <notifications@github.com> wrote:

[2020-11-08 20:55] manishram commented on #523
@kristykjlee Let me know If the design is good enough?
![assetspage](https://user-images.githubusercontent.com/22790904/98484032-be384500-2232-11eb-9ea6-ff88c3a12ad9.png)

[2020-11-08 21:02] bossajie opened #626 "Add title on some pages"
**Suggestion**
I am suggesting that it's much better if we add some [Title](https://www.w3schools.com/TAGs/tag_title.asp) on some/every page depends on what is the web page is about.

Currently, I don't see the title of most pages on the website is changing, it's just **thenewboston**.

For example,
If I am on https://thenewboston.com/download,
we can set the title to **thenewboston | Download**
I

[2020-11-08 21:17] Paul-Taiwo commented on #626
I could work on this.

[2020-11-08 22:56] kristykjlee opened #627 "Team Page - Member Updates"
- [ ] Add Steve Heddens GitHub name on his team card. GitHub: SteveHedden
- [ ] Add **Team Lead** tag on David Yaps card. Update David Yaps title from UI/UX Designer to Design Lead.
- [ ] Add Khairul Akmal as a team member. Role: UX/UI Designer,  GitHub: mofodox, Slack: Khairul Akmal
- [ ] Add Sush as a team member. Role: UX/UI Designer, GitHub: nsushman, Slack: Sush
- [ ] Add Manish Ram as a team

[2020-11-09 03:17] AbhayAysola commented on #618
If no one else wants to this, I'd gladly contribute. Let me know if I should assign it to anyone.

[2020-11-09 04:11] hinduBale commented on #595
Well, I don't know whether this would be helpful or not, but in one of my personal React projects, I had the same problem. Every time I refreshed a page apart from the Home Page, the server threw a 404 error.
As one might suspect, I was not using the *exact* keyword in the *Route* parameter
`const App = () => {
    return(
        <BrowserRouter>
            <Route path = "/" exact component = {Jo

[2020-11-09 05:23] jaelee0409 commented on #627
I'll work on this!

[2020-11-09 05:36] #371 closed

[2020-11-09 06:00] #446 closed

[2020-11-09 07:49] #627 closed

[2020-11-09 07:50] MuathAlhayani commented on #619
I am willing to work on this? If available.

[2020-11-09 08:26] lapstjup commented on #619
@taneishamitchell and @MuathAlhayani - it seems that already 2 PRs are available for this.
You can check out the other issues.
Thanks

[2020-11-09 08:54] KarenEfereyan commented on #618
@AbhayAysola id like to work with you on this. Ive really wanted to learn and implement dark theme

[2020-11-09 08:55] KarenEfereyan commented on #564
It really is @buckyroberts you were my programming hero. I learnt java from you. I still have your videos

[2020-11-09 09:13] AbhayAysola commented on #618
@KarenEfereyan Sure! I think there are two ways we could implement this.
[prefers-color-scheme](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) could be implemented easily by adding a check for light or dark theme in [src/styles/_colors.scss](https://github.com/thenewboston-developers/Website/blob/development/src/styles/_colors.scss) and changing the colors accordingl

[2020-11-09 09:34] #619 closed

[2020-11-09 09:40] KarenEfereyan commented on #618
I have no idea about both but the second one seems appealing. Looks like ill learn a lot from it. So if you agree, lets go with that

[2020-11-09 09:40] KarenEfereyan commented on #618
I have no idea about both but the second one seems appealing. Looks like ill learn a lot from it. So if you agree, lets go with that

[2020-11-09 09:55] AbhayAysola commented on #618
All right, sounds good. I haven't done that yet so it's a good learning experience for me too!

[2020-11-09 10:06] #399 closed

[2020-11-09 10:48] ranka23 commented on #495
**Suggestions for content:**

- Why join our community?
- What's in it for team members?
- What's next and exciting? - Perhaps, add the roadmap that is in discussion on Slack, when it's ready.

A simple suggestion/feedback form would be nice, to find out what other's are thinking. We can use a third party service to collect form data to avoid backend dev.

A new section on Homepage with a sweet so

[2020-11-09 11:15] lapstjup opened #643 "Proofread the README file"
Our README file was recently updated. There is a possibility of few grammatical errors. If you see one, fix it and raise a PR.

[2020-11-09 11:33] nsushman commented on #627
Hey!
Khairul and Sush's titles seem to have been set incorrectly. Could you please review this one?
@lapstjup @jaelee0409

![image](https://user-images.githubusercontent.com/18399270/98536058-288dcb80-22ad-11eb-8c20-56c39dea6317.png)

[2020-11-09 11:57] thesanjeevsharma opened #645 "Team Lead tag's text is misaligned"
**Bug Description**
Team Lead tag's text is misaligned.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to: [Teams](https://thenewboston.com/teams)

**Expected behavior**
It should be vertically and horizontally  center aligned.

**Screenshots/Recordings**
![image](https://user-images.githubusercontent.com/29539278/98538252-7c4de400-22b0-11eb-8644-ff86a20b879b.png)

**OS and Browser

[2020-11-09 12:06] whitelionx commented on #643
I created a PR with minor fixes to the spelling and grammar at #646

[2020-11-09 12:09] lapstjup commented on #627
@nsushman Thanks for bringing this to my notice. Identified the cause. Discussing the same with team.

[2020-11-09 12:32] lapstjup opened #648 "teams.json ordering is not correct"
**Bug Description**
The ordering of team members in teams.json is not as per their contributor's id. Also there are some missing contributor ids. Need to order these entries as per the id's mentioned for consistency and prevent id overlapping issues during PRs.

**Note**
 - If there's a miss (like 14), make sure that team member with id 15 changes to 14 , 16 changes to 15 and so on.
 - If there is

[2020-11-09 12:42] manishram commented on #648
@lapstjup I am working on it. Thanks

[2020-11-09 12:53] whitelionx commented on #645
Should be resolved at #647

[2020-11-09 13:15] #645 closed

[2020-11-09 16:05] #643 closed

[2020-11-09 16:08] jamessspanggg opened #658 "[Feature Request] Additional task label filters"
Currently, the task label filters only contain the following: `bug`, `design`, `discussion`, `documentation`, `engineering` and `suggestion`.
<img width="1395" alt="Screen Shot 2020-11-10 at 12 05 45 AM" src="https://user-images.githubusercontent.com/32864116/98565355-7c69d600-22e8-11eb-802b-e02e3dec1c50.png">

Would be good to have the `In Progress` filters so that external contributors can easil

[2020-11-09 16:24] jamessspanggg commented on #658
Additionally, would be good if the tasks with assignees are not included as well.

[2020-11-09 17:00] #626 closed

[2020-11-09 17:02] lapstjup commented on #658
@jamessspanggg My take - The website ensures that you know the **types** of the tasks being worked on. But it's progress is a transient behaviour which I think is good if left to github labels. Same goes for assignee - it's a very dynamic entity.

[2020-11-09 17:13] jamessspanggg commented on #658
@lapstjup thanks for the explanation. Agreed. Should I close this issue?

[2020-11-09 17:31] jamessspanggg opened #659 "[FAQ] Hash Links does not snap correctly to the question title"
**Bug Description**
When clicking the hashlink of a particular question, the does not snap correctly to the position of the question.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to FAQ page
2. Click on hash link of the question `Who created thenewboston`?
3. Observe that the question is covered

**Expected behavior**
The question is exactly in the view.

**Actual behavior**
The

[2020-11-09 17:36] jamessspanggg commented on #659
Am happy to work on the issue if needed :)

[2020-11-09 17:55] lapstjup commented on #658
Yes for now let's close it. When an api is fully functional, this can be brought upon then.

[2020-11-09 17:55] #658 closed

[2020-11-09 17:55] jamessspanggg commented on #659
@lapstjup may I be assigned for this issue?

[2020-11-09 18:15] #462 closed

[2020-11-09 18:22] thesanjeevsharma commented on #659
@lapstjup @jamessspanggg This is a duplicate of #407. Closing this.

[2020-11-09 18:22] #659 closed

[2020-11-09 18:32] singh-sarabjeet commented on #534
I used free tiered BrowserStack to analyse a couple of these and all of them had the same error
![image](https://user-images.githubusercontent.com/11057104/98581641-cacaa500-22e7-11eb-8e78-06d096f80325.png)
I'm not familiar with the exact code behind it but will try to understand and fix it.

[2020-11-09 18:54] #407 closed

[2020-11-09 20:53] ranka23 opened #664 "Filter by Coins and Filter by Created Date for /tasks/all"
How about adding additional filters to the Tasks page?

Filter by reward (coins) and time (created_at). Can be a value adding feature.

In fact, I've already created both the filters and added them to my localhost. So, all that is really required now is a code review, tests and voila we have a new feature in less than a day.

Let me know if it's of interest. I'll push it.

Here's a [video preview]

[2020-11-09 21:08] Hristijan95 commented on #664
@kristykjlee please take a look at this when you have the time

[2020-11-10 04:00] manishram commented on #564
@thesanjeevsharma can you please review this

[2020-11-10 04:26] officialabdulrehman commented on #664
check issue #550

[2020-11-10 04:56] ranka23 commented on #664
@officialabdulrehman I did. That is for sorting the list. This is for filtering it. Also, this is ready.

[2020-11-10 05:02] lapstjup commented on #648
Closing this since fix is done for the same directly in development branch.

[2020-11-10 05:02] #648 closed

[2020-11-10 06:12] kush-daga commented on #550
I have added the logic part of things in the PR #616 , just waiting on some UI element to display the Sort By functionality on the page. @thesanjeevsharma @kristykjlee any suggestions on how should I display the sort by on the screen, should I just use a flat nav list or something similar to the tags?

[2020-11-10 07:23] AnasNadeem commented on #618
Can i do this? I am kinda good in JS

[2020-11-10 07:49] iamsid47 opened #673 "[Job Opening] Marketing Analyst"
Add the following job opening to the website.

***

#### Job Title
Marketing Analyst

#### Job Description
Seeking a Marketing Analyst to research user behavior, gaining partners, and executing various marketing strategies.
#### Responsibilities
- Analyze sales funnels and customer intent
- Measure the ROI of online and offline marketing campaigns
- Reports on marketing KPIs like user base, web tr

[2020-11-10 08:17] jamessspanggg opened #675 "[Documentation] Hash link snap issue"
**Bug Description**
When clicking on the hash link in the documentation page, it does not snap to the correct position. Note that there was a previous pr fixing this, but it was intended towards the FAQ page.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to documentation page
2. Click on Guide -> Resync process
3. View that it does not snap correctly to the Resync Process

**Expec

[2020-11-10 08:19] jamessspanggg commented on #675
Issued a fix: #676

[2020-11-10 08:24] Rexkozy commented on #351
Kedu Ndeewo🤝

[2020-11-10 08:29] suhailpappu commented on #351
When i try to merger it says " The base branch restricts merging to authorized users " what do i do?

[2020-11-10 09:03] KarenEfereyan commented on #618
Im not in the position to answer

[2020-11-10 09:06] Hristijan95 commented on #351
@suhailpappu Just create a Pull Request and reference this issue in it and we'll take care of the merge.

[2020-11-10 09:07] suhailpappu commented on #351
@Hristijan95 Yes I already created one thank you.

[2020-11-10 09:22] jamessspanggg opened #679 "[Leaderboard] Dropdown does not work"
**Bug Description**
Within the leaderboard page, when using tablet or mobile phones, toggling the dropdown does not show anything.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. With a device that is smaller than desktop, i.e. phone or tablet, go to leaderboard page
2. Click on drop down button
3. View that nothing is shown

**Expected behavior**
The drop down of repositories should b

[2020-11-10 09:22] jamessspanggg commented on #679
Issued a fix #680

[2020-11-10 09:49] AbhayAysola commented on #618
Something came up, and I can't work on this right now. So you guys go ahead. 👍 @KarenEfereyan @AnasNadeem

[2020-11-10 09:57] itsnikhil commented on #673
taking this

[2020-11-10 11:03] stage88 commented on #595
Hey all, sorry to jump in...

I can see you guys are using AWS CloudFront to host your site, backed by an S3 origin. I've maintained a few sites using AWS CF+S3, this is a common issue and it can be fixed by updating the CF configuration in AWS.

What happens here is that a request at the origin for (lets say) https://thenewboston.com/guide/introduction is a 404 because that page doesn't exist in

[2020-11-10 11:10] #673 closed

[2020-11-10 11:50] Mithileshxx765 commented on #351
नमस्ते दुनिया

[2020-11-10 11:51] Mithileshxx765 commented on #351
नमस्ते दुनिया {Hindi}

[2020-11-10 12:18] ddyakov opened #686 ""Join the Community" heading in /social"
**Bug Description**
It is not an actual bug, as it is more a styling problem.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://thenewboston.com/social'.
2. Toggle the screen to a mobile device resolution (e.g. from Chrome dev tools).
3. "Join the Community" is not aligned in the center.

**Expected behavior**
The heading should be centered the same way as on a tablet/desk

[2020-11-10 13:17] Hristijan95 commented on #686
I also noticed that the Slack, Github, Youtube... cards are not centered correctly, they are leaning a little bit more to the right.

[2020-11-10 13:38] ddyakov commented on #686
@Hristijan95 Now that you said that, I double-checked and you are right.

[2020-11-10 14:45] #679 closed

[2020-11-10 15:25] lost-folder commented on #351
Hello world in  Arabic #639

[2020-11-10 16:55] thesanjeevsharma opened #699 "Update teams page"
**Description**
Add @mersimoski to Front-end team.

**Account Number**
644cdaf382c1f711fb05fb4328409a62713ecc7a3e83fa07427cc3539a8a23ac

[2020-11-10 16:57] #699 closed

[2020-11-10 17:03] Solo509HT commented on #351
Bonjou lemond (Haitian Creole)

[2020-11-10 17:13] mersimoski commented on #303
I would like to take this and resolve it.

[2020-11-10 17:16] #675 closed

[2020-11-10 17:21] mersimoski commented on #287
@buckyroberts @kristykjlee @thesanjeevsharma
![image](https://user-images.githubusercontent.com/62712311/98708495-8855a680-2381-11eb-8bc1-3b6faed03f7e.png)
will this work? If yes please assign it to me

[2020-11-10 17:39] jamessspanggg opened #703 "[Leaderboard] Image content jumping when loading page"
**Bug Description**
There are instances of content jumping when leaderboard page is loaded initially or when toggling between different time filters. This may be more apparent when there are more users/images to load.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to leaderboard page
2. Observe that there is a slight content jump when initial load

**Expected behavior**
Content loa

[2020-11-10 18:27] DenverCoder1 opened #705 "Proofreading FAQ page"
### Issue

There are typos and grammatical issues on the [FAQ page](https://thenewboston.com/faq) which need to be fixed.

### Solution

These errors will be fixed by #653.

[2020-11-10 18:31] DenverCoder1 commented on #705
The label should probably be "documentation" but it doesn't seem like it will let me change that.

[2020-11-10 18:36] abhiprksh commented on #351
नमस्कार विश्व (Hindi)

[2020-11-10 18:39] thesanjeevsharma opened #706 "Update engineering openings"
**Description**
- Remove Front-end Responsive UI Expert
- Update Front-end Developer

**Account Number**
644cdaf382c1f711fb05fb4328409a62713ecc7a3e83fa07427cc3539a8a23ac

[2020-11-10 18:40] #705 closed

[2020-11-10 18:41] #706 closed

[2020-11-10 20:35] T-Whiz commented on #686
Hey guys I managed to fix this by adding text-align: center; to the Social_heading class in the css.

From
.Social__heading {
    font-size: 36px;
    font-weight: 800;
    line-height: 1.25;
    margin: 0 auto 30px;
}

To
.Social__heading {
    font-size: 36px;
    font-weight: 800;
    line-height: 1.25;
    margin: 0 auto 30px;
    text-align: center;
}

![headerfix](https://user-images.githubu

[2020-11-10 20:39] Hristijan95 commented on #686
There are already 2 PRs opened about this issue, but both incomplete as of now.
@T-Whiz , that's great. If you fix the cards alignment as well, submit a PR and I'll close the issue.

[2020-11-10 21:10] T-Whiz commented on #686
I opened a pr but I'm not entirely sure I did it correctly, still a noob to github 👍

I fixed the icons too by adjusting their margins. Both the fixes are super quick

[2020-11-10 21:28] IanArb opened #715 "[Kotlin SDK] Build BankDataSource that calls Bank endpoints through HttpService"
As an SDK user,

I WANT
To be able to fetch all the available banks and also determine the level trust of the bank has.

SO THAT
I know which bank I can send transactions to.

Documentation for bank endpoints for GET and PATCH requests https://thenewboston.com/bank-api/banks

The data models and http layer are already implemented and just needs a data source class to call the endpoints.

[2020-11-10 22:38] #686 closed

[2020-11-10 23:19] #389 closed

[2020-11-11 02:07] AayushKarna commented on #351
नमस्कार संसार (Nepali)

[2020-11-11 07:28] johnjacobkenny commented on #263
Perhaps you could introduce some kind of github action or bot to ensure that the closed PRs are correctly transferred? I could try to help with that if there is more direction from the team!

[2020-11-11 10:07] mersimoski commented on #303
PR made about fixing this

[2020-11-11 10:15] satyamgupta1495 commented on #351
namaste duniya(Hinglish)

[2020-11-11 10:15] manishram commented on #287
I like it the way it is currently. It gives a more native-app-like experience. Also good for one-hand use I guess. What do you say @mofodox ?

[2020-11-11 10:28] mofodox commented on #287
Yes I guess that's how the design is designed for. It makes the design more "native-esque".

[2020-11-11 10:30] manishram commented on #287
Yeah please close this issue then.

[2020-11-11 10:31] #287 closed

[2020-11-11 10:58] ddyakov opened #730 "[Suggestion] Extract all static texts into a resource file"
There are a lot of magic strings spread throughout the project, maybe it is a good idea to keep them in a resource file just in case some of them have to be used in multiple places.

If you agree, I can work on that. :)

[2020-11-11 13:52] thesanjeevsharma commented on #374
@Hristijan95 @lapstjup I don't think this is an issue. Can we close this?

[2020-11-11 13:55] Hristijan95 commented on #374
@thesanjeevsharma yes, and actually the spacing is equal now after some changes in the past few days.

[2020-11-11 13:55] #374 closed

[2020-11-11 14:10] #703 closed

[2020-11-11 14:16] jamessspanggg opened #733 "[Documentation] Code segments under CSS / SASS not highlighted properly"
**Bug Description**
The code segments within the CSS / SASS section are not highlighted properly, especially  `jsx` code segments.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to Documentation -> CSS /SASS
2. Scroll to [Block Elements](https://thenewboston.com/style-guide/css#blocks-elements)
3. View that the jsx code segments are not highlighted properly

**Expected behavior**
T

[2020-11-11 16:53] Hristijan95 commented on #595
@buckyroberts , can you please take a look at this when you have the time?

[2020-11-11 17:16] VincentHch commented on #351
Luxembourgish language #736

[2020-11-11 17:16] VincentHch commented on #351
#736

[2020-11-11 17:17] VincentHch commented on #351
#736

[2020-11-11 18:49] kagisojamesthomba commented on #351
I have two questions, 1. If I am a native speaker of two languages ,can I add them both and 2. Are there any considerations for languages that do not have the 639-1 code but have another code like the 639-3 code , which consists of two characters?

[2020-11-11 19:11] kristykjlee opened #738 "Openings - HIRING FREEZE"
- [x] On the openings page, put the text **We are on a hiring freeze until further notice**
- [x] Disable users from being able to click job opening cards for now (Remove the cards from the openings page but DO NOT delete them in the code base because we will bring them all back in the near future.)

https://www.figma.com/file/ChyT88EmP2Rmzx35I9erCL/Marketing-Site?node-id=1727%3A0

[2020-11-12 00:33] Hristijan95 commented on #618
Please do not start working on this issue, as we first need to run the idea by the design team.

[2020-11-12 00:35] #738 closed

[2020-11-12 05:54] Chrisha1212 opened #743 "New Contributor"
Team: [TEAM NAME]

{
  "title": Software Developer
  "isLead":false
  "payPerDay": 2800,
  "createdDate": "2020-11-12
    "contributorId":
    "displayName": Meharban Singh
    "githubUsername": Meharban-Singh
    "profileImage": https://avatars1.githubusercontent.com/u/33323725?s=460&u=da67fec9d0eacc6f5680c789265fb372a75d71c0&v=4
    "slackUsername": Meharban Singh

[2020-11-12 06:06] #523 closed

[2020-11-12 06:11] jamessspanggg commented on #743
Hi I'll take this. What is the team name?

[2020-11-12 06:45] lapstjup commented on #733
@jamessspanggg  - Thanks for raising this issue. I checked your PR but there are inconsistency around what get's highlighted and what doesn't in other blocks. Sometimes they are all white instead of the lightgreen tinge in others. If you can make them all look aesthetically the same, that would be great.

[2020-11-12 06:50] prajwalkulkarni commented on #587
I went through this issue and made some research and caught hold of a function that might be of use. I was unsure of the implementation, so here's the code so far. Please check if it works.
`
const useKeyPress = function (targetKey: any) {  //Not sure where to use this function.
    const [keyPressed, setKeyPressed] = useState(false);
    function downHandler(key: any) {
      if (key === targetKe

[2020-11-12 07:01] Chrisha1212 opened #745 "New Contributor"
Team:Back-End Developers

{
  "title":Python Developer
  "isLead" false
  "payPerDay": 2800,
  "createdDate": "2020-11-12
  "contributor": {
    "contributorId":
    "displayName": Dwayne Sordam
    "githubUsername":CirXe0N
    "profileImage": https://avatars3.githubusercontent.com/u/24738451?s=460&u=c1e3dc0dd9585a4cf877c453ec80f4af830c2fd5&v=4
    "slackUsername":Dwayne
  }
}

[2020-11-12 07:24] Akshit1311 commented on #745
Hii, I'll take this one

[2020-11-12 08:02] Akshit1311 commented on #461
Is it necessary to use Formik for this modal ?

[2020-11-12 08:21] manishram opened #747 "Sorting of team members not working as expected"
**Bug Description**
In `/src/data/teams.json` file all members got **"createdDate": "2020-07-08T02:14:59.307535Z"** and few got **"createdDate": "2020-05-09T02:14:59.307535Z"**. People who got the 2nd one had got their position misplaced and not sorted according to their **contributorId**.

**Steps to Reproduce**
Steps to reproduce the behavior:
Go to https://thenewboston.com/teams

**Expected beh

[2020-11-12 10:04] Chrisha1212 opened #750 "New Contributor"
Team: Front-End Developers

{
  "title":Software Developer
  "isLead": false
  "payPerDay": 2800,
  "createdDate": "2020-11-12
  "contributor": {
    "contributorId":
    "displayName":Michael Lee
    "githubUsername":  tpikachu
    "profileImage":  tpikachu
    "slackUsername": Michael
  }
}

[2020-11-12 10:28] hasham56 commented on #750
I am willing to contribute and i am also good in coding but i am new on github... i dont know how to complete a task... can someone help me?

[2020-11-12 10:31] manishram commented on #750
yeah @hasham56 sure.

[2020-11-12 10:35] hasham56 commented on #750
@manishram ok.. so how is it working? if i know a solution to a task how can i implement it? can you reference something to help me out?

[2020-11-12 10:35] manishram commented on #750
@Chrisha1212 It would be better to put all new contributor's data in a single issue?

[2020-11-12 11:08] manishram commented on #750
@hasham56 for reference please go through the **Readme.md** here: https://github.com/firstcontributions/first-contributions. This will guide you through your first contribution to open-source.

For this particular issue, you have to make changes to `/src/data/teams.json`. This file contains the lists of members of this thenewboston Project (https://thenewboston.com/teams). And add you have to add

[2020-11-12 11:15] BlueBlazin opened #753 "Links in the navbar cannot be opened in a new tab"
**Bug Description**
Links in the dropdowns of the top navbar cannot be opened in a new tab forcing you to route to the new page on the same tab. As one can imagine this can be very annoying.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.thenewboston.com/
2. Click on any of the dropdowns.
3. Try opening a link in a new tab.

**Expected behavior**
A user should be abl

[2020-11-12 11:33] kush-daga commented on #550
Updated the PR #616 With the latest changes and code. @kristykjlee Do review the changes
![image](https://user-images.githubusercontent.com/40840079/98935005-e365d580-2508-11eb-8147-4c1f3496cb99.png)
Here is a screenshot for reference.

[2020-11-12 11:35] #753 closed

[2020-11-12 11:55] subhamg commented on #750
Hi! would like to contribute and resolve this issue.

[2020-11-12 12:02] hasham56 commented on #750
https://github.com/thenewboston-developers/Website/pull/754#issue-519836990

Here i added it @manishram

[2020-11-12 12:07] manishram commented on #750
That's great @hasham56 you did your first contribution!!

One thing you must remember that whenever you do a pull request you should link that pull request to the issue it closes. For that just simply add the issue number in the description.
Something like:
**Fixes: #750**
in this case. And your PR will be linked with the issue.

[2020-11-12 12:08] hasham56 commented on #750
@manishram what is the full form of PR?

[2020-11-12 12:11] amarjeet987 commented on #534
@singh-sarabjeet any update on this issue?

[2020-11-12 12:20] hasham56 commented on #750
@manishram one more question.. how are you running it on your local environment.. i know its a dumb question but i have to start from somewhere :D

[2020-11-12 12:21] manishram commented on #750
There you go. Now, wait for your contribution to be reviewed, and once everything is ok it will be merged.

Also, You see the label **500** to this issue? That is the number of Thenewboston coins you will receive if your pull request will get merged.
So go to https://thenewboston.com/download and download thenewboston account-manager. And create your account. After creating your account you will g

[2020-11-12 12:30] manishram commented on #750
1. Download Node.js from [here](https://nodejs.org/en/download/) and install it on your system.
2. Now open up your terminal and run `git clone https://github.com/thenewboston-developers/Website.git`. This will clone the repo to your local machine.
3. Then run: `**npm install**` . This will install all the dependency files of this project.
4. Once done run: `**npm start**` and wait for a minute or

[2020-11-12 12:32] hasham56 commented on #750
@manishram Thanks bro.. This helped me a lot 👍

[2020-11-12 12:51] alexkimeu0 opened #756 "Typo in the documentation."
There's a small typo in the documentation.

![tnb](https://user-images.githubusercontent.com/61450115/98942334-e5c33200-24fe-11eb-9ec4-e9592f01a616.jpg)

[2020-11-12 14:23] ddyakov commented on #756
I have opened a [PR](https://github.com/thenewboston-developers/Website/pull/759) for this.

[2020-11-12 14:46] alexkimeu0 commented on #756
I had already opened one.

On Thu, 12 Nov 2020, 17:23 Dimitar Dyakov, <notifications@github.com> wrote:

[2020-11-12 14:54] ztickm commented on #715
This issue should be transferred to the [relevant repository](https://github.com/thenewboston-developers/Kotlin-SDK)

[2020-11-12 14:56] awais3455 opened #760 "Pkg update"
Team: [TEAM NAME]

{
  "title": [JOB TITLE],
  "isLead": [true OR false],
  "payPerDay": 2800,
  "createdDate": "2020-07-08T02:14:59.307535Z",
  "contributor": {
    "contributorId": [CONTRIBUTOR ID],
    "displayName": [DISPLAY NAME],
    "githubUsername": [GITHUB USERNAME],
    "profileImage": [PROFILE IMAGE URL (Slack or GitHub URL)],
    "slackUsername": [SLACK USERNAME]
  }
}

[2020-11-12 15:30] Kirito129 commented on #760
Can we get more details about this issue @awais3455 ?

[2020-11-12 15:35] awais3455 commented on #760
YES

[2020-11-12 15:35] #760 closed

[2020-11-12 15:42] manishram commented on #750
**THIS IS A FAKE ISSUE POSTED BY SOMEONE PLEASE DON'T MERGE IT.**

[2020-11-12 15:43] manishram commented on #743
**THIS IS A FAKE ISSUE POSTED BY SOMEONE PLEASE DON'T MERGE IT.**

[2020-11-12 15:45] manishram commented on #745
**THIS IS A FAKE ISSUE POSTED BY SOMEONE.**

[2020-11-12 15:50] hasham56 commented on #750
@manishram you mean i dont get to have points now?

[2020-11-12 15:52] manishram commented on #750
Yes, not for this PR. But you can contribute to other issues and you can earn coins. The best part is that you learned to make PRs right? Please close the above PR for now.

[2020-11-12 15:54] jamessspanggg commented on #743
Oh lol, to the extent of using the same photo and name. @manishram Thanks for spotting it

[2020-11-12 15:55] hasham56 commented on #750
@manishram ok thanks :)

[2020-11-12 15:58] manishram commented on #743
Yeah, I just figured out creating a new issue for adding new contributor auto labels it with **500** and **engineering** which makes it look genuine.

[2020-11-12 16:01] jamessspanggg commented on #743
Let's report the user and raise the issue within the slack group.

Not sure if the "new contributor" is in it as well

[2020-11-12 16:08] manishram commented on #743
No need to worry much about this. I told bucky to remove the auto label from there. But yeah we can inform members about this so people will take care of this from the next time.

[2020-11-12 17:27] buckyroberts opened #761 "More Account Manager Docs"
Create Account Manager docs/guides for the following features:
- Create a Bank
- Create a Validator

Include images as needed.

[2020-11-12 17:31] thesanjeevsharma commented on #750
@manishram Are you sure about that?

[2020-11-12 17:34] manishram commented on #750
@thesanjeevsharma this, not the Github profile given here https://thenewboston.com/teams. I found this https://github.com/MsChrishaph on there. But let me clarify with bucky.

[2020-11-12 17:37] manishram commented on #750
https://github.com/thenewboston-developers/Website/issues/760 This was the reason for confusion. But Bucky just told she created a new GitHub account because of some reasons and this seems to be genuine issues.

[2020-11-12 17:42] manishram commented on #743
@jamessspanggg This seems to a genuine issue. I clarified with Bucky. She created a new account because of some reasons.
This  => https://github.com/thenewboston-developers/Website/issues/760 issue made me suspicious about these genuine issues.

[2020-11-12 17:44] jamessspanggg commented on #743
Ok noted. Apologies for the misinterpretation as well. Will re-open the PR.

[2020-11-12 17:45] manishram commented on #743
Yeah, my bad. Please reopen the PR.

[2020-11-12 17:47] #750 closed

[2020-11-12 17:56] hasham56 commented on #750
Earlier I posted the solution #754.... Why it got rejected? Can someone explain?

[2020-11-12 18:12] #761 closed

[2020-11-12 19:03] buckyroberts opened #763 "Incorrect Text on the Add Friends Page"
**Bug Description**
On the Add Friends page https://www.thenewboston.com/account-manager/add-friends#account-overview the paragraph under the "Friend Overview" section describes **your own** account page. The paragraph should instead provide an overview about **your friends** account page.

**Screenshots/Recordings**
<img width="905" alt="Screen Shot 2020-11-13 at 12 25 46 AM" src="https://user-im

[2020-11-12 19:18] #756 closed

[2020-11-12 20:11] buckyroberts commented on #743
Team - Front-End Developers

He is going to be helping out with our JS client library.

[2020-11-12 23:32] asaadat99 commented on #747
Hello, I am interested in working on this, can you assign it to me?

[2020-11-12 23:55] Hristijan95 commented on #747
@asaadat99 , as you can se above, there's already a PR to fix this from @manishram . However, at the moment the design team is doing a redesign on the Teams/All page, so we'll decide what to do with this when the redesign is ready.

[2020-11-13 00:34] Chrisha1212 opened #772 "New Contributor"
Team: Back-End Developers

{
  "title": Python Product Manager
  "isLead": false
  "payPerDay": 2800,
  "createdDate": "2020-11-13
  "contributor": {
    "contributorId":
    "displayName":Andy Bajaras,
    "githubUsername": Barajas123
    "profileImage":https://avatars2.githubusercontent.com/u/46165581?s=460&v=4
    "slackUsername": Andy Bajaras
  }
}

[2020-11-13 01:05] accessdeniedIT commented on #772
@Chrisha1212 whats the contributerID

[2020-11-13 01:09] Chrisha1212 opened #773 "New Contributor"
Team:  Back-End Developers

{
  "title": Python Developer
  "isLead": false
  "payPerDay": 2800,
  "createdDate": "2020-11-13
  "contributor": {
    "contributorId":
    "displayName":Richard Starkey
    "githubUsername": MathClassIsTough
    "profileImage":https://avatars0.githubusercontent.com/u/74336482?s=460&v=4
    "slackUsername":  Richard (MathClassIsTough)
  }
}

[2020-11-13 01:37] LunarDeveloper commented on #773
I'll take a go at this one.

[2020-11-13 03:18] rahulkiller104 opened #776 "extra right margin in donate-card on mobile"
**Bug Description**
extra right margin in donate-cards on mobile devices

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.thenewboston.com/donate'
4. See error
**Expected behavior**
on donate-cards margin should be equal in left-right on mobile
**Actual behavior**
on donate-cards right-margin is greater than left-right on mobile
**Screenshots/Recordings**
![Screenshot

[2020-11-13 03:39] #733 closed

[2020-11-13 03:42] aayushi14 opened #780 "Tasks & Leaderboard tabs don't show all GitHub repos"
**Bug Description**
Tasks and Leaderboard tabs don't show all GitHub repos.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to thenewboston -> Community -> Leaderboard
2. Default on All and 7d
3. First person is DucFhamTV, click on their topmost task.
4. They have contributed to Repo: thenewboston-python-client, but this repo is not listed on the left menu.

**Expected behavior**
Al

[2020-11-13 03:52] kristykjlee opened #781 "New Contributor"
Team: Marketing

{
  "title": Marketing Coordinator
  "isLead": false
  "payPerDay": 2800,
  "createdDate": "2020-07-08T02:14:59.307535Z",
  "contributor": {
    "contributorId": a2f129908a6d9ab1d8de1292ebab9c12bcf75bc90666e5c0042783dc6c31529e
    "displayName": Amy Burcham
    "githubUsername": [GITHUB USERNAME],
    "profileImage": [PROFILE IMAGE URL (Slack or GitHub URL)],
    "slackUsername":

[2020-11-13 03:52] #781 closed

[2020-11-13 03:54] kristykjlee opened #782 "New Contributor"
Team: [Marketing]

{
  "title": [Marketing Coordinator],
  "isLead": [false],
  "payPerDay": 2800,
  "createdDate": "2020-11-12T02:14:59.307535Z",
  "contributor": {Amy Burcham
    "contributorId": [a2f129908a6d9ab1d8de1292ebab9c12bcf75bc90666e5c0042783dc6c31529e],
    "displayName": [Amy Burcham],
    "githubUsername": [Nevah422],
    "profileImage": [PROFILE IMAGE URL (Slack or GitHub URL)],

[2020-11-13 04:15] aayushi14 commented on #782
Job title?

[2020-11-13 04:35] accessdeniedIT commented on #534
https://reactjs.org/docs/javascript-environment-requirements.html

[2020-11-13 05:37] IronManCool001 commented on #351
hello in bengali language: ওহে বিশ্ব

[2020-11-13 05:40] lapstjup commented on #351
@IronManCool001  - You have to open a PR in the appropriate file as mentioned in issue. Also hello world for bengali is already included. You are welcome to solve other issues.

[2020-11-13 05:48] IronManCool001 opened #783 "PWA"
Hey guys this is actually a suggestion to turn your website into a **PWA** so it will be actually be installable on the phone as **PWA** are meant to be installable and faster

[2020-11-13 06:02] singh-sarabjeet commented on #782
I'll take this one.

[2020-11-13 06:37] singh-sarabjeet commented on #534
@amarjeet987 I used free tiered BrowserStack which doesn't allow me to debug and I don't have the physical devices to work with.

[2020-11-13 07:25] jamessspanggg opened #786 "[Feature Request] Add last updated date time to leaderboard"
Since the leaderboard is based on commits to the `tasks.json`, the leaderboard may not contain the latest updated results. It would be good if the last updated date time is shown in the leaderboard.

[2020-11-13 07:35] vectaaa commented on #776
i'll like to handle this

[2020-11-13 07:57] jamessspanggg commented on #747
The issue is that the team members are sorted based on the `created_date`, instead of the `contributorId` as shown here:
https://github.com/thenewboston-developers/Website/blob/078f8d4cf949c544a9719d3fd88ebaf43c8d4174/src/utils/data.ts#L67-L73

Changing it should be fine. @manishram will you be working on it?

[2020-11-13 08:07] mahihossain opened #787 "A little typo in the 'Openings' page"
**Bug Description**
On the 'Openings' page, there is a typo.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.thenewboston.com/openings/All'

**Expected behavior**
It should be 'till' or 'until'

**Actual behavior**
Now it is showing 'til'

**Account Number**
def3963e9afcdb0e7e9c00077bea51bd7233540b41eb78a384c2567986b4edf3

[2020-11-13 08:15] manishram commented on #747
Yeah sure @jamessspanggg go ahead. I am working on another issue right now. :)

[2020-11-13 10:09] ddyakov commented on #787
Btw it could be also 'til (with the single quote) :)

[2020-11-13 10:09] rahulkiller104 commented on #776
@vectaaa I have solved this issue.

[2020-11-13 10:10] mahihossain commented on #787
Yes, that is also an option. It's really a very small issue.

[2020-11-13 10:17] Hristijan95 commented on #715
@IanArb , please reopen this issue in the relevant repository as I don't have access to move it there and Bucky is probably overloaded with messages & requests.

[2020-11-13 10:17] #715 closed

[2020-11-13 10:27] ddyakov commented on #783
I think they already designed a mobile application and it will probably move into the implementation process (maybe already is), so I don't know how useful that would be.

[2020-11-13 10:38] Chrisha1212 opened #793 "New Contributor"
Team: Reddit Moderators

{
  "title": Reddit Moderators
  "isLead": false
  "payPerDay": 2800,
  "createdDate": "2020-11-013
  "contributor": {
    "contributorId":
    "displayName": Landon Moon
    "githubUsername":LunarDeveloper,
    "profileImage":https://ca.slack-edge.com/T07PJD1FZ-U01E879GB1Q-c93201d09399-512
    "slackUsername": Moon
  }
}

[2020-11-13 10:45] #763 closed

[2020-11-13 10:49] YashovardhanSingh opened #795 "Incorrect Order in "Core Components Table" in Documentation Page"
**Bug Description**
On the documentation page, https://thenewboston.com/guide/introduction , the core components table under the overview section must be in alphabetical order for ease.

**Expected behavior**
The table should be in alphabetical order.

**Actual behavior**
The table does not follow any order.

**Screenshots/Recordings**
![bandicam 2020-11-13 16-17-05-458](https://user-images.github

[2020-11-13 10:52] YashovardhanSingh commented on #787
Solution: [fixes #787](https://github.com/thenewboston-developers/Website/pull/794)

[2020-11-13 11:00] singh-sarabjeet commented on #793
I'll take this up.

[2020-11-13 11:05] Hristijan95 commented on #780
This will have the same problems that are being fixed at the moment in #620. Once we fix that, we can add all repos here & use the same solution for the repos with longer title.

[2020-11-13 11:20] AmanJain27 opened #798 "Junior Python (Django) Developer"
Team: Junior Python (Django) Developer

{
  "title": Junior Python (Django) Developer,
  "isLead": false,
  "payPerDay": 2800,
  "createdDate": "2020-07-08T02:14:59.307535Z",
  "contributor": {
    "contributorId":
    "displayName": Aman Jain,
    "githubUsername": AmanJain27,
    "profileImage":
    "slackUsername": AmanJain
  }
}

[2020-11-13 11:26] Hristijan95 commented on #798
Only team leads are opening new contributor issues & only people who are hired are added as contributors.

[2020-11-13 11:26] #798 closed

[2020-11-13 11:53] ddyakov opened #800 "Small correctness and clarity mistakes in introduction page"
Not a bug! These are just some small correctness and clarity issues with the introduction page text, such as missing commas and used wrong words.

[2020-11-13 12:01] ddyakov commented on #800
This could be done for all pages in the documentation.

[2020-11-13 12:10] ddyakov opened #802 "Missing .NET Core SDK"
**Bug Description**
Missing .NET Core SDK team name on the teams page.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to https://thenewboston.com/teams'
2.  See that the .NET Core SDK team name is missing

**Expected behavior**
The .NET Core SDK team name should be there since there are people working on it.

**Actual behavior**
Explained in the Bug Description.

**Screenshots/Reco

[2020-11-13 13:37] manishram commented on #783
Currently website does not contain anything where users can interact more. Neither the website's performance can be improved with the use of PWA because currently it only contains data and documentations. So right now there is no need of PWA. Users can add to their home screen if they really want to. Once the website have some interacting features, there will be reason to have PWA.

[2020-11-13 15:22] #793 closed

[2020-11-13 15:41] thesanjeevsharma commented on #795
@YashovardhanSingh Not an issue. The way it's written right now is much more understandable.

[2020-11-13 15:41] #795 closed

[2020-11-13 15:47] #787 closed

[2020-11-13 16:35] lukas-kasticky commented on #495
https://www.figma.com/file/UAuzPXadk1D5Wem0c8nXwq/Marketing-Site-Copy

[2020-11-13 16:36] lukas-kasticky commented on #495
https://www.figma.com/file/UAuzPXadk1D5Wem0c8nXwq/Marketing-Site-Copy

[2020-11-13 17:05] lukas-kasticky commented on #495
@ranka23

The homepage explains that devs get paid in coins for contributing. Maybe there should be a CTO to join the community.

Great idea!

[2020-11-13 18:23] #782 closed

[2020-11-13 18:34] hasham56 commented on #802
@ddyakov Can you mention people who are working on it please? so i can add them in the ".NET Core SDK team" option

[2020-11-13 19:01] DinShpati opened #806 "Adding a link to the Discord"
**Bug Description**
We have a discord server but there is no link on the website to the official discord.
I can add it to the website. Here is the permanent link to the
discord https://discord.gg/7rNNyK9btX

[2020-11-13 21:47] #800 closed

[2020-11-13 22:57] #747 closed

[2020-11-13 23:05] #743 closed

[2020-11-13 23:16] #745 closed

[2020-11-13 23:20] #772 closed

[2020-11-13 23:36] #773 closed

[2020-11-14 02:10] LunarDeveloper commented on #773
Here's my account number if it's needed.
b32e6086c378b840fcece09daacfaee8ba75e0e038152406e2d2db3c0f93204e

[2020-11-14 02:23] buckyroberts opened #810 "New Contributor"
**Note:** This is a new team

---

Team: Penetration Testing

[code]

[2020-11-14 02:25] LunarDeveloper commented on #251
Should this issue be closed? @buckyroberts mentioned the title was correct as "completed" in PR #252 and closed the PR.

[2020-11-14 03:18] PatNeedham opened #812 "[Android] Long-press on top nav links doesn't give option to open in new tab"
**Bug Description**
First reported by Rupam Kairi on the Slack #design channel: https://thenewboston.slack.com/archives/C014R1JAJ59/p1605236676344600

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Open site on mobile phone
2. Click on the hamburger menu in the upper right
3. Long-press any of the links
4. See error:

![image](https://user-images.githubusercontent.com/967811/99138216-1

[2020-11-14 04:48] ranka23 commented on #495
Had a look at the Figma link. The designs look good.

Suggestions:
- You can have the cards (with links and descriptions) in 2 or 3 columns for desktop. So, users needn't scroll as much.
- I'm not a designer but I've scratched up something. People prefer numbers and so thought we can highlight those. Not sure what are the exact figures. The ones in the image are placeholders.

Also, in the caption

[2020-11-14 08:47] manishram opened #815 "Issue with recent task title"
**Bug Description**
The leaderboard page displays the list of Recent tasks completed by the contributors. Some tasks end up with "..." which have a more lengthy title. But users should be able to know the complete title of the task without opening the link.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to https://thenewboston.com/leaderboard/All
2. Some task's title ends up with "

[2020-11-14 09:43] yoursecurityisshit opened #818 "yoursecurityisshit"
just add a .htaccess to the public folder.

[2020-11-14 09:44] hasham56 commented on #818
nice title

[2020-11-14 10:18] #806 closed

[2020-11-14 10:28] akamfoad opened #819 "website doesn't auto select download tab based on user system"
**Bug Description**
Modern website with download page(s), show relevant content to be downloaded based on user operating system. [https://thenewboston.com](https://thenewboston.com "https://thenewboston.com") should be no exception, when I opened [https://thenewboston.com/download](https://thenewboston.com/download "https://thenewboston.com/download") for the first time, I felt why the website don

[2020-11-14 10:34] nparoski commented on #587
Since this is still unsolved I'll give it a go.

[2020-11-14 11:10] Rajputusman opened #821 "New Contributor"
Team: Discord Managers

{
  "title": Moderator,
  "isLead": false,
  "payPerDay": 2800,
  "createdDate": "2020-07-08T02:14:59.307535Z",
  "contributor": {
    "contributorId": 45,
    "displayName": DinShpati,
    "githubUsername": DinShpati,
    "profileImage": https://avatars2.githubusercontent.com/u/25906602,
    "slackUsername": DinShpati
  }
}

[2020-11-14 11:39] AmanJain27 opened #822 "Two Active banks at a same time?"
I think config.json file lets you have 2 active banks at a same time.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '/home/{linux user name folder}/.config/TNB Account Manager/' folder.
2. Edit the config.json on the line which says "is_default" : "false" to "true" under managed banks section.
3. Make sure that all the banks that you currently use have the value set to true.
3.

[2020-11-14 11:41] #810 closed

[2020-11-14 12:47] ddyakov commented on #802
I don’t know 100% who are the contributors but there are a few people that open PRs often and are very active in the slack channel for the sdk. I have asked who is working daily on that and as soon as I have an answer I’ll post the people here or send you a PM. :)

[2020-11-14 15:59] Mirch commented on #802
So far, it's been:
(me) Mircea Teodor Oprea / @Iammirch
- Joshua Santiago / @joshman1019
- Charalampos Makrylakis / @xmac11
- Nish? I don't have any last name for him / @nishp77

[2020-11-14 16:45] lukas-kasticky commented on #495
@ranka23 I shared your comment in Slack. The only problem we have with dynamic data like these stats is that we would have to update them frequently if we don't want more requests on the client side.

[2020-11-14 16:53] at-in commented on #351
Klingon doesn't have a 2 letter ISO code, will it cause any problem? @angle943

[2020-11-14 17:01] suhailpappu commented on #351
@Hristijan95 I haven't received my 500?

[2020-11-14 17:26] Hristijan95 commented on #351
@suhailpappu, the coins are sent.
Can you please check again? Here's the transaction:
<img width="1137" alt="Screen Shot 2020-11-14 at 18 19 49" src="https://user-images.githubusercontent.com/5727677/99153139-f1515d00-26a6-11eb-8477-60c29f58705d.png">

[2020-11-14 17:29] suhailpappu commented on #351
@Hristijan95 Yes bro the coins appeared just now after you replied. Thank you.

[2020-11-14 17:59] Akshit1311 commented on #782
i didnt get paid for this task

[2020-11-14 18:02] lapstjup commented on #822
Hi @AmanJain27 you can create this issue in Account Manager repo. Closing it here.

[2020-11-14 18:35] #776 closed

[2020-11-14 18:48] #822 closed

[2020-11-14 20:30] Zackyismail opened #826 "Zakaria Ismail(Zackeay)"
Team: [TEAM NAME]

{
  "title": [JOB TITLE],
  "isLead": [true OR false],
  "payPerDay": 2800,
  "createdDate": "2020-07-08T02:14:59.307535Z",
  "contributor": {
    "contributorId": [CONTRIBUTOR ID],
    "displayName": [DISPLAY NAME],
    "githubUsername": [GITHUB USERNAME],
    "profileImage": [PROFILE IMAGE URL (Slack or GitHub URL)],
    "slackUsername": [SLACK USERNAME]
  }
}

//Hello world i

[2020-11-14 20:31] nparoski commented on #582
I will take this issue.

[2020-11-14 20:34] #821 closed

[2020-11-14 21:03] #815 closed

[2020-11-14 22:13] #819 closed

[2020-11-14 22:32] #826 closed

[2020-11-14 22:38] Hristijan95 commented on #780
^same as my previous comment, but now it's in another PR - #803

[2020-11-14 22:57] ffpetrovic opened #828 "Remove package-lock.json and use yarn"
**Bug Description**
NPM and Yarn lock files are present in the project. Remove one and stick with the other. Preferably switch to Yarn.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Run `yarn`
2. See error `warning package-lock.json found. Your project contains lock files generated by tools other than Yarn. It is advised not to mix package managers in order to
avoid resolution incons

[2020-11-14 23:36] nparoski opened #830 "[Bug]Website buttons in navigation have double focus."
**Bug Description**
While navigation with `Tab` in top nav buttons like _Download_ button have double focus because `<Link>` has nested `<Button>` inside..

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to Any page
2. Click on Top navbar
3. Start pressing tab, on 5th and/or 6th press `Enter`
4. You will be redirected to `/download`

**Expected behavior**
Only one focus per interact

[2020-11-14 23:38] nparoski commented on #830
Created PR #831 for this issue.

[2020-11-15 00:49] frankiefab100 commented on #351
Please how do I get this account #?

[2020-11-15 05:48] mahihossain opened #834 "Design Redundancy in Navbar and Footer"
**Bug Description**
The website has a fixed top navbar. It has a thenewboston logo which is a link to go to the homepage of the website. Scrolling down one comes across the same link and logo which does the exact same thing. This is a design redundancy.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://thenewboston.com/'
2. Scroll down to the bottom where you can see the f

[2020-11-15 06:07] lapstjup commented on #830
@nparoski Thanks for raising this issue. I have pushed a commit to your PR to bring back button's outline for accessibility. There still might be other elements behaving the same way as you did. It would be good if you do the fix for all of those as well.

[2020-11-15 06:16] lapstjup commented on #834
@manishram Can you confirm the same with design team ?

[2020-11-15 06:24] manishram commented on #834
Sure @lapstjup

[2020-11-15 06:30] mahihossain commented on #834
I have made a pull request regarding this.

[2020-11-15 06:45] manishram commented on #834
Hey @lapstjup , **kristykjlee** said that team is reworking on product development so this is not the priority at this moment.

Thankyou @mahihossain for your contribution. You are welcome to work on other issues.

[2020-11-15 06:46] #834 closed

[2020-11-15 07:18] mahihossain commented on #834
Should I stop giving design suggestions? Rather focusing on other issues?

[2020-11-15 07:25] mahihossain opened #836 "Only three Social Media Icons in the Home page"
**Bug Description**
There are only three Social Media icons available on the Home page though we have seven available.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://thenewboston.com/'
2. There are only three Social Media icons available on the page
3. Scroll down to the footer, there are seven of them

**Expected behavior**
All seven Social Media icons should be visibl

[2020-11-15 09:14] #564 closed

[2020-11-15 09:17] Hristijan95 commented on #836
@kristykjlee , can you take a look at this? Is it intended, or we should add all icons there?

[2020-11-15 09:22] jamessspanggg commented on #780
May I know which additional repositories should be added to the tasks and leaderboard?

[2020-11-15 09:22] #812 closed

[2020-11-15 09:56] theCow61 commented on #802
Added the .NET tab to the Teams like you wanted and added those 4 contributors to the section though the info I put wasn't correct because I do not know any of the 4's pay per day and slack so I set it as empty. I am new to this so sorry if I did it wrong.

[2020-11-15 09:59] jamessspanggg opened #839 "[Leaderboard] Inconsistencies in width of tasks"
**Bug Description**
When there is a  repository name that is long, i.e. `thenewboston-python-client`, the long repository name takes up more width and pushes the user section more towards the left.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to leaderboard
2. Click on 30d filter
3. Observe the difference between first and second contributor

**Expected behavior**
Widths of each

[2020-11-15 11:42] nparoski commented on #830
@lapstjup Sure I will look into it right now and push fix as soon as possible.

[2020-11-15 13:03] xmac11 commented on #802
Hello everyone,
Thank you for considering adding us on the teams page, however we haven't been hired by anyone from the team and aren't being paid daily, just contributing at our own pace.
So I would suggest that the .NET Core SDK follow the Kotlin SDK and just display the Team Lead / @Mirch

[2020-11-15 13:59] nparoski commented on #830
@lapstjup  I've found two more cases of double focus, I pushed fix to PR.

[2020-11-15 14:40] nparoski opened #843 "[Bug] Interactive elements don't have outlines on focus and are not clickable via keyboard."
**Bug Description**
When using `Tab` to navigate through website left side menus are getting focused but focus is not visible and it is also not clickable via `Enter`.
On `/tasks/All` filtering labels are also not accessible by `Tab` and `Enter`, also labels inside tasks should not be accessible via `Tab` or `Enter` since they are not clickable.
Community > Leaderboards > 7d 30d All is not accessi

[2020-11-15 14:50] nparoski commented on #843
I've created PR #844 that fixes accessibility across whole website.

[2020-11-15 15:12] nsushman commented on #836
@mahihossain, Introducing all the icons over there is going to cause a lot of clutter and draw the visitor's attention away from the text. This should be treated as an improvement since the current design specification did contain that part as it is.

[2020-11-15 16:20] at-in commented on #351
@Hristijan95 @angle943 can you check my PR #825 ?

[2020-11-15 16:25] #830 closed

[2020-11-15 16:37] #839 closed

[2020-11-15 17:04] jamessspanggg opened #845 "[FAQ] Console error when in dev mode"
**Bug Description**
When running in dev mode, visiting the FAQ page will cause the following console error: `<ol> cannot appear as a descendant of <p>`.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Run TNB website in local dev
2. Visit the FAQ page
3. Observe the console error

**Expected behavior**
No console errors.

**Actual behavior**
Console error with `<ol> cannot appear as a

[2020-11-15 17:31] #845 closed

[2020-11-15 18:45] Raeab commented on #351
Selam Alem in Amharic

[2020-11-15 19:08] Hristijan95 opened #847 "Recompiling takes too long"
**Bug Description**
When you edit something in code, the app takes a lot of time and processing power to recompile.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Open the project in your IDE
2. Change any line of code and save the file
3. Wait for the code to recompile

**Expected behavior**
This should be much faster & performance friendly. I am not sure at which point this happened

[2020-11-15 19:35] Hristijan95 commented on #847
Actually, I've just found out that this is [solved here](https://github.com/facebook/create-react-app/pull/9911) and we are not the problem.

[2020-11-15 19:35] #847 closed

[2020-11-15 22:41] ffpetrovic opened #849 "Download page fetches all releases"
**Bug Description**
The download page fetches all releases, whereas we only care about the latest one. At least on this page.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to [https://thenewboston.com/download](https://thenewboston.com/download)
2. Look at the network request to `/releases`

**Expected behavior**
Only the latest release should be fetched. The solution right now se

[2020-11-15 23:49] kandarpgautam commented on #836
To avoid clutter, we can add a see more button there. Like hidden div section holding rest of the icons.

[2020-11-16 00:07] kandarpgautam commented on #783
Actually, native mobile applications are heavy. Progressive web application is really a good idea as it's light and will take storage space in KBs on user's device. Size matters a lot.

[2020-11-16 00:17] kristykjlee opened #851 "Teams page update"

[2020-11-16 00:24] #851 closed

[2020-11-16 02:17] mahihossain commented on #836
@kandarpgautam @nsushman I think if we put three there we have to put all there even making them hidden... Otherwise we can remove them altogether. It doesn't make sense only putting three there. Also it will not be as redundant as it seems because it is only on the homepage.

[2020-11-16 04:40] ranka23 commented on #495
@lukas-kasticky Alright. Thanks for the update.

[2020-11-16 08:02] manishram opened #854 "Title Missing: Assets and Openings page"
**Bug Description**
The title of the page Openings and Assets are missing

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to https://thenewboston.com/assets or https://thenewboston.com/openings/All
2. Title of both the pages are missing

**Expected behavior**
Both pages should have a title as other pages do have.

**Actual behavior**
Title is missing

**Screenshots/Recordings**

![t

[2020-11-16 08:23] jamessspanggg opened #856 "UNSAFE_componentWillMount console error"
**Bug Description**
A clear and concise description of what the bug is.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Run TNB in local dev
2. Open the website's console
3. Observe the console error

**Expected behavior**
No console error should appear.

**Actual behavior**
Console error as shown below in the screenshot.

**Screenshots/Recordings**
<img width="492" alt="Screen Shot 20

[2020-11-16 08:51] jamessspanggg opened #858 "[Documentation] Empty new lines in deployment guide"
**Bug Description**
Within the deployment guides, there are quite a few shell script code segments that have an extra new line.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to documentation -> deployment guides in official website
2. Observe that there are a few code segments with extra new line

**Expected behavior**
No extra new lines

**Actual behavior**
Extra new lines in som

[2020-11-16 08:59] kandarpgautam commented on #836
I think if rest of the icons are in footer, we can just keep them in footer. Also there's "thenewboston" icon in footer. Which is redundant as a user can easily go to index page by clicking on the one in the menu which is present at all times in both desktop and mobile interface.

[2020-11-16 09:22] mahihossain commented on #836
@kandarpgautam I gave that suggestion here #834. But no result!

[2020-11-16 09:40] kandarpgautam commented on #834
This might not be a priority but it's not just redundant "thenewboston" icon, but 3 of the icons are there on page which are also in footer. The 3 icons there don't make much sense. Keeping all the social networks icons in footer would be better. Adjustments might not be the priority right now, but we can fix this as long as people are willing to help and contribute. Any help would do. Before next

[2020-11-16 10:23] mahihossain commented on #834
@kandarpgautam I am perfectly willing to help in these issues! I have also made PRs.

[2020-11-16 11:39] #858 closed

[2020-11-16 11:45] #854 closed

[2020-11-16 12:49] thesanjeevsharma commented on #849
@Hristijan95 @lapstjup I think this was done so that users can choose from various versions(at a later point in time). The UI doesn't support that yet, tho.

What do you think?

[2020-11-16 15:09] lapstjup opened #863 "Fix console warnings during development"
**Bug Description**
I can see two console warnings coming during development.

**Steps to Reproduce**
1) Go to Assets Page for the general react key warning.
2) The second one is little tricky to reproduce but it happens when you move from Home to any other page.

**Screenshots/Recordings**
<img width="1022" alt="Screen Shot 2020-11-16 at 8 32 00 PM" src="https://user-images.githubusercontent.com/

[2020-11-16 15:16] #856 closed

[2020-11-16 15:21] whitelionx commented on #863
I will have a look at this one 👍

[2020-11-16 15:36] lapstjup commented on #849
@thesanjeevsharma Not sure about the fetching all versions part but if it's not that then I think the current is a pre-release and not a production ready release and that's why developers have the logic for fetching all releases and then getting the latest one.

@ffpetrovic Your solution will work but I think once we hit the release mode, we can just utilise https://docs.github.com/en/free-pro-tea

[2020-11-16 15:41] jamessspanggg commented on #863
I couldn't really reproduce the second issue...

[2020-11-16 15:41] ffpetrovic commented on #849
@lapstjup Then this can be refactored to use that before the first production-ready release.

[2020-11-16 15:42] lapstjup commented on #863
@jamessspanggg Try switching your page when the next language rendition **hello world** it going to appear. That's probably where the memory leak would be happening.

[2020-11-16 15:53] jamessspanggg commented on #863
Managed to replicate and solve both issues. @whitelionx if you don't mind, may I create a PR for this?

[2020-11-16 15:56] whitelionx commented on #863
Yeah you can @jamessspanggg

[2020-11-16 15:58] ffpetrovic commented on #836
Add a toggle or something, so the user at least knows there's more possibilities without having to find that out once they get to the footer.
![image](https://user-images.githubusercontent.com/5026566/99276428-f3452880-282c-11eb-9ad2-784a1e373411.png)

[2020-11-16 16:16] #863 closed

[2020-11-16 16:20] Hristijan95 opened #866 "New Contributor"
Team: Front-End Developers

{
  "title": Front-End Developer,
  "isLead": false,
  "payPerDay": 2800,
  "createdDate": "2020-11-14T02:14:59.307535Z",
  "contributor": {
    "contributorId": [CONTRIBUTOR ID],
    "displayName": Nine,
    "githubUsername": whitelionx,
    "profileImage": https://avatars1.githubusercontent.com/u/31674307?s=460&u=89b8153755b6765cbdc0b2579d8f545138b4760c&v=4,
    "slac

[2020-11-16 16:22] mbdteam9 commented on #587
Hi @lapstjup, im sorry not sure about the complex code others have suggested.

I just know how to use fake buttons(keyboard acessible) , by making use of tabindex=0.

If it dont work sorry, im too new to web dev.

[2020-11-16 16:27] lapstjup commented on #587
Hey @mbdteam9 No need to be sorry for anything. You can always raise a PR for a fix you think can work and post review if we find it to be fit for inclusion, we will merge it 😄.

[2020-11-16 16:29] #828 closed

[2020-11-16 16:34] DinShpati commented on #866
I can do this

[2020-11-16 16:45] jamessspanggg opened #869 "Make an Image component with optimizations for image loading"
**Current**
The leaderboard page loads github user avatars of size 460px, whereas the size of the div is 178px (desktop) and 54px (others). It is not needed to load such a big sized image for a small div.

May cause performance issues if there are more contributors, or the client does not have good device network.

Desktop:
<img width="1179" alt="Screen Shot 2020-11-17 at 12 40 02 AM" src="https:/

[2020-11-16 17:19] #866 closed

[2020-11-16 17:20] #550 closed

[2020-11-16 17:41] kristykjlee opened #872 "New Contributor"
Team: [New User Operations]

{
  "title": [New User Operations Lead],
  "isLead": [true],
  "payPerDay": 2800,
  "createdDate": "2020-07-08T02:14:59.307535Z",
  "contributor": {
    "contributorId":[82ad4b185c2ac04440c8f1c54854819ac2ea374255e8fecc54a6f28d4fcc4814],
    "displayName": [Martyn],
    "githubUsername": [Spotnag],
    "profileImage": [PROFILE IMAGE URL (Slack or GitHub URL)],
    "slac

[2020-11-16 17:48] VincentHch commented on #872
I'll take this one

[2020-11-16 17:58] mahihossain commented on #836
@ffpetrovic that's a good idea. Will work on that.

[2020-11-16 17:59] mahihossain commented on #836
@ffpetrovic that's a good idea. Will work on that.

[2020-11-16 18:02] VincentHch commented on #872
# aaf42054f84c66586bf29d446188347ab910112cb60b775a4d6feadd5b9ae73f

[2020-11-16 18:23] lapstjup commented on #872
@VincentHch  - Make sure to make the conributorId  = current maximum contributor id + 1.

[2020-11-16 18:23] #872 closed

[2020-11-16 20:24] IanArb opened #876 "Add Kotlin SDK to tasks"
The Kotlin SDK needs to be added to https://thenewboston.com/tasks page so that I can promote tasks for the Kotlin SDK.

[2020-11-16 20:29] SNikhill commented on #587
Greetings,
The dropdowns are accessible via the tab key, it is just that their styling doesn't change and hence, they appear to be non-accessible.
Trying opening the website and press tab two times followed by an enter press. The Get Started Dropdown will open up.

Regards
@SNikhill

[2020-11-16 20:35] nparoski commented on #587
Not really since you cant navigate inside of them once they are open, hopefully i will make pr tonight or tommorow night.

[2020-11-16 20:40] SNikhill commented on #587
Oh, I just saw the same. Well please, go ahead with the fix. :)

[2020-11-16 20:42] IanArb opened #877 "Kotlin SDK new member (Peter Sommerhoff)"
Team: Kotlin SDK

{
  "title": Software Developer,
  "isLead": false,
  "payPerDay": 2800,
  "createdDate": "2020-07-08T02:14:59.307535Z",
  "contributor": {
    "contributorId": [CONTRIBUTOR ID],
    "displayName": Peter Sommerhoff,
    "githubUsername": https://github.com/petersommerhoff,
    "profileImage": https://avatars2.githubusercontent.com/u/2805791?s=460&u=5fcb7424015f63ae2194171c5649af3

[2020-11-16 20:47] IanArb opened #878 "Kotlin SDK New Contributor Martin Nowosad"
Team: Kotlin SDK

{
  "title": Team Lead,
  "isLead": true,
  "payPerDay": 2800,
  "createdDate": "2020-07-08T02:14:59.307535Z",
  "contributor": {
    "contributorId": [CONTRIBUTOR ID],
    "displayName": Martin Nowosad
    "githubUsername": https://github.com/MrIceman,
    "profileImage": https://ca.slack-edge.com/T07PJD1FZ-U016SCACHM4-1a824cfe8763-512
    "slackUsername": Martin Nowosad
  }
}

[2020-11-16 21:00] sdhiaeddine commented on #878
I will take this issue

[2020-11-16 21:36] nparoski commented on #877
I can take this one

[2020-11-16 22:13] nparoski commented on #877
Since @sdhiaeddine made PR before me I will close my PR #880

[2020-11-16 23:18] Hristijan95 commented on #836
Guys, please avoid working on issues that have the "Not Ready" label, because your work can be for nothing. For this particular issue, we need approval from the design team, once we have that, we'll change the status of the issue.

[2020-11-16 23:42] ffpetrovic commented on #836
@Hristijan95 so is the official procedure

1. Wait for an issue to lose it's "Not Ready" label
2. Be the first to say "I'll take this one"?

Whatever it is I think it needs to be very clearly defined, otherwise people will just race to make a PR. Sorry if missed this official procedure somewhere. If it exists, please let us know ❤️

[2020-11-16 23:53] Hristijan95 commented on #836
@ffpetrovic , yeah, that is the procedure. It's not clearly defined yet(and it's not written clearly as well), but it will be very soon, all teams are working very hard on organizing things as fast as possible, we just have to be patient for a few more days. For now we can manage it like this. :)
Thanks for contributing.

[2020-11-17 01:07] Chrisha1212 opened #881 "New Contributor"
Team: Security
{
  "title":Penetration Testing Team Lead
  "isLead": True
  "payPerDay": 2800,
  "createdDate": "2020-11-17
  "contributor": {
    "contributorId":
    "displayName": Spencer Dollahite
    "githubUsername": spencer-dollahite
    "profileImage": https://avatars0.githubusercontent.com/u/74439721?s=400&v=4
    "slackUsername": Spencer Dollahite
  }
}

[2020-11-17 01:24] thesanjeevsharma commented on #881
@Chrisha1212 He's already on the teams page: https://thenewboston.com/teams

[2020-11-17 01:32] #876 closed

[2020-11-17 01:40] #881 closed

[2020-11-17 03:01] mahihossain commented on #836
@Hristijan95 Ok! Thanks for telling me that! Better to work later when it's ready! But when it is ready, I want to take this.

[2020-11-17 06:04] kristykjlee commented on #250
This has been moved to the Design Repository

[2020-11-17 06:04] #250 closed

[2020-11-17 06:04] kristykjlee commented on #251
This has been moved to the Design Repository

[2020-11-17 06:04] #251 closed

[2020-11-17 06:08] kristykjlee commented on #496
This has been moved to the Design Repository

[2020-11-17 06:08] #496 closed

[2020-11-17 06:14] ffpetrovic commented on #836
@Hristijan95 Thank you for clearing it up! 🙂

[2020-11-17 06:16] kristykjlee commented on #495
This has been moved to the Design Repository

[2020-11-17 06:16] #495 closed

[2020-11-17 06:20] kristykjlee commented on #836
This has been moved to the Design Repository

[2020-11-17 06:20] #836 closed

[2020-11-17 08:24] manishram commented on #664
#616

[2020-11-17 09:21] Hristijan95 commented on #582
I had to revert the code back from @btk because it was causing the menu break on the desktop, so I am reopening this issue.

[2020-11-17 10:41] Hristijan95 opened #889 "Documentation typo"
Fixed in #757 .

[2020-11-17 10:41] #889 closed

[2020-11-17 10:45] lapstjup opened #890 "Decouple Hello World animation and word shuffle logic using custom hooks"
**Bug Description**
The current implementation of Hello World animation and word shuffling that comes on Home page is tightly coupled but it can be divided into two hooks - useAnimationState and useShuffle.

**Additional context**
This is an open ended problem and the best solution would fetch the reward coins.

[2020-11-17 16:37] savans2 commented on #890
I would like to take the shot at this.

[2020-11-17 18:07] odetolataiwo opened #892 "New Contributor"
Team: [Payments]

{
  "title": [Payments Manager],
  "isLead": [false],
  "payPerDay": 2800,
  "createdDate": "2020-07-08T02:14:59.307535Z",
  "contributor": {
    "contributorId": [48],
    "displayName": [Tawanda Makunike],
    "githubUsername": [Tawanike],
    "profileImage": [https://avatars1.githubusercontent.com/u/329524?v=4],
    "slackUsername": [Tawanda Makunike]
  }
}

[2020-11-17 18:10] odetolataiwo opened #893 "New Contributor"
Team: [Payments]

{
  "title": [Payments Manager],
  "isLead": [false],
  "payPerDay": 2800,
  "createdDate": "2020-07-08T02:14:59.307535Z",
  "contributor": {
    "contributorId": [49],
    "displayName": [Nikhil Taneja],
    "githubUsername": [itsnikhil],
    "profileImage": [https://avatars1.githubusercontent.com/u/20350674?v=4],
    "slackUsername": [itsnikhil]
  }
}

[2020-11-17 20:08] harshilparmar commented on #890
I would also lilke to try this 😄

[2020-11-17 20:52] ffpetrovic commented on #890
@lapstjup What you just said contradicts what @Hristijan95 says is the [official procedure](https://github.com/thenewboston-developers/Website/issues/836#issuecomment-728441196). Is it

or

The first one means that people with the most free time will keep camping the Issues page and theoretically grab any chance they get, while the second one means that (this one is subjective to the maintainers o

[2020-11-17 22:25] theCow61 commented on #802
Does the "Not Ready" tag mean that this feature isn't to be added yet and the PR wont get approved until it is ready?

[2020-11-18 02:40] aayushi14 commented on #890
@ffpetrovic For all such Developers who get disheartened if they don't win in a Hackathon, I believe whoever is inexperienced or whose PR is not selected to be merged, must come back to see the PR which is merged and learn from that code. Developers must always have the urge to learn and get better.

[2020-11-18 04:12] lapstjup commented on #890
@ffpetrovic Hey thanks for raising the concern. So as I mentioned explicitly here - this is open ended problem.
There can be different approaches by different people and everyone (including me) can learn which is the best one that works. The coins surely do motivate but we are trying to build a community of people who can learn from each other as well.

Also this issue doesn't have "Not Ready" lab

[2020-11-18 04:16] lapstjup commented on #890
@harshilparmar Think of it as this way.

The shuffling logic is dependent on when a particular condition becomes true.

In our case, it is a animation state. But what if you had to shuffle something based on a button click or any other event ?

There is an opportunity here for us to decouple both.

Similarly animationState can be used by other components too. Doesn't have to be just fade_in and fa

[2020-11-18 06:05] Chrisha1212 opened #899 "New Contributor"
Team: Developers

{
  "title": Python Developer
  "isLead": false
  "payPerDay": 2800,
  "createdDate": "2020-11-18
  "contributor": {
    "contributorId":
    "displayName": Yashovardhan
    "githubUsername":  YashovardhanSingh
    "profileImage": https://ca.slack-edge.com/T07PJD1FZ-U01EDS61953-f188ea1780e8-512
    "slackUsername": yashovardhansingh
  }
}

[2020-11-18 08:54] lapstjup commented on #869
@thesanjeevsharma @Hristijan95 I like this suggestion. Maybe we can have an Image component that abstracts all this and is reusable ?

[2020-11-18 09:10] Hristijan95 commented on #869
I agree, would be nice to have that.

[2020-11-18 09:45] itsnikhil commented on #461
![Web 1920 – 1](https://user-images.githubusercontent.com/20350674/99513641-dcc7da00-29b0-11eb-8bc7-60dc6aba83dc.png)

[2020-11-18 10:00] lapstjup commented on #869
@jamessspanggg I have increased the scope of this issue. Nice suggestion btw.

[2020-11-18 10:47] jamessspanggg commented on #869
May I clarify that the image component should be specific for the github avatar images? If so, then should the size of image at desktop and others be hardcoded or based on the passed in values?

[2020-11-18 10:49] lapstjup commented on #869
@jamessspanggg A reusable component would be good. Not specific to github and passed in values.

[2020-11-18 13:17] #899 closed

[2020-11-18 13:41] #878 closed

[2020-11-18 13:48] #877 closed

[2020-11-18 13:52] #893 closed

[2020-11-18 13:56] #892 closed

[2020-11-18 14:58] lapstjup commented on #802
@theCow61 Yes

[2020-11-18 18:31] Ramin-RX7 opened #903 "Slack link is invalid"
**Bug Description**
when I Click on slack link I see this page (link is no longer active), and when I'm logged in in slack, it will redirect me to last page of slack I were.
I saw this link in main page and footer (but I don't know where else is it)

**Screenshots/Recordings**
![Screenshot (18)](https://user-images.githubusercontent.com/52785580/99572020-52e83300-29e9-11eb-8e30-80e67b7c8e23.png)

[2020-11-18 21:51] kandarpgautam commented on #903
Exactly. I checked it. It's not working.

[2020-11-18 21:55] kandarpgautam commented on #903
Can someone provide slack link?

[2020-11-18 22:52] Hristijan95 commented on #903
Someone already changed the slack link, so I am closing this. Thanks for the report.

[2020-11-18 22:52] #903 closed

[2020-11-19 06:07] jamessspanggg commented on #869
Am busy with school exams atm, this issue is opened for anyone to solve!

[2020-11-19 07:04] mersimoski opened #909 "Long title words break the mobile design in the tasks page"
**Bug Description**
If a title of a task is big and in this case without spacing, it breaks the design on mobile.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.thenewboston.com/tasks/All'
2. Scroll down to a task with big title without spacing
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
Th

[2020-11-19 07:20] mersimoski commented on #909
PR submited

[2020-11-19 09:15] v6-afk commented on #802
Why can't the Engineers just add another link to that page with the title ".NET Core SDK Team" and then edit the names of the members on the new linked webpage as they are being updated.  As for not showing on all OS and browsers, I've experienced this sort of stuff before in my country( it was widespread), I suggest that you use a popular programming language and a relatively old one at that (you

[2020-11-19 11:51] colfax23 opened #914 "New Contributor"
Team: "Blockchain Research"

{
  "title": Blockchain Researcher,
  "isLead": false,
  "payPerDay": 2800,
  "createdDate": "2020-11-19T02:14:59.307535Z",
  "contributor": {
    "contributorId": ,
    "displayName": "Hargobind Gupta",
    "githubUsername": "Yara1990",
    "profileImage": https://ca.slack-edge.com/T07PJD1FZ-U01E9PS8ZEF-0edd4a970eba-512,
    "slackUsername": Hargobind -Blockchain Rese

[2020-11-19 11:52] colfax23 opened #915 "New Contributor"
Team: "Blockchain Research"

{
  "title": Blockchain Researcher,
  "isLead": false,
  "payPerDay": 2800,
  "createdDate": "2020-11-19T02:14:59.307535Z",
  "contributor": {
    "contributorId": ,
    "displayName": "Kayode Babarinde",
    "githubUsername": "",
    "profileImage": "",
    "slackUsername": "Kayode Babarinde"
  }
}

[2020-11-19 16:03] #909 closed

[2020-11-19 18:28] v6-afk commented on #802
Okay, There was an issue in my area not quite long ago.
When a page refuses to load on different os and browsers. It was discovered
that the programming language used were relatively "new" languages and the
browser didn't support such languages. I feel Java, JavaScript and html and
the likes might help with such issues. I do not know the current status of
things but I'm just suggesting

On Thu, No

[2020-11-19 18:30] lapstjup commented on #802
@v6-afk Actually there was no entry for ".NET Core SDK" team in our code for the website. So the issue just states to add them since there has been development going on the respective repo.
There are no OS and browser inconsistency issues here.

[2020-11-19 19:00] hasham56 commented on #915
Since @DinShpati added 2 contributors in 1 PR... So here is my alternative solution

[2020-11-19 19:01] hasham56 commented on #914
Since @DinShpati added 2 contributors in 1 PR... So here is my alternative solution

[2020-11-19 19:07] v6-afk commented on #802
Oh, okay, i got the impression because of this👇. Thanks for the
clarification.

On Thu, Nov 19, 2020 at 10:31 AM Lakshya Thakur <notifications@github.com>
wrote:

[2020-11-19 19:09] v6-afk commented on #802
I got the impression because of this. Thanks for the clarification.

On Thu, Nov 19, 2020 at 10:31 AM Lakshya Thakur <notifications@github.com>
wrote:

[2020-11-19 19:16] colfax23 opened #921 "New Contributor"
Team: "Blockchain Research"

{
  "title": Blockchain Researcher,
  "isLead": false,
  "payPerDay": 2800,
  "createdDate": "2020-11-19T02:14:59.307535Z",
  "contributor": {
    "contributorId": ,
    "displayName": "Joe Sykes",
    "githubUsername": "",
    "profileImage": "https://ca.slack-edge.com/T07PJD1FZ-U01CTDXMK1Q-4953bceb47d4-512",
    "slackUsername": "Joe Sykes"
  }
}

[2020-11-19 21:44] buckyroberts opened #924 "Clean and Crawl Docs"
We have new API endpoints and also WebSocket logic for our crawl and clean processes. These need to be documented on the website.

Please check with @charnysh-dev (**Dzianis** on Slack) for HTTP endpoints, WebSocket endpoints, and request/response/message shapes. He worked on this feature recently.

**Note:** These processes are available on Banks and Confirmation Validators (but not PVs)

<img wi

[2020-11-19 22:55] velibor7 opened #926 "Bank API - Update documentation on website to match the actual responses"
Documentation on Bank API page https://thenewboston.com/bank-api/accounts does not match actual responses from django rest framework.

To see actual responses go to:
143.110.137.54 - Bank IP or
54.183.17.224 - Validators IP

This needs to be updated for all endpoints

[2020-11-20 05:49] #914 closed

[2020-11-20 05:53] kristykjlee opened #931 "Website email newsletter form"
- Add email newsletter form popup when the user comes onto thenewboston for the very first time
- Add email newsletter form to the footer of the website as well. Must be on every pages footer
- Please make sure to store the emails in the backend. We eventually want to be able to collect the emails so we can start doing email campaigns.

https://www.figma.com/file/cOHTkvpRXzPIQGjCotrP4y/Email-Newsl

[2020-11-20 05:57] #915 closed

[2020-11-20 06:01] webdeveloperswj opened #932 "[Windows]The Footer content In tab device alignment position in center"
**Bug Description**
Footer content too much left side making Center alignment position

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to "https://thenewboston.com/"
2. click on mouse right click
3. Select inspect
4. Select iPad device
5.scroll down to footer

**Expected behavior**
footer content in center alignment position

**Actual behavior**
Footer content left side

**Screensho

[2020-11-20 06:39] #921 closed

[2020-11-20 06:59] kristykjlee opened #934 "Projects Proposal page"
- We need to include Projects Proposal onto the marketing site to give people awareness of being able to create proposals as well as steps on how to do so.
- Include all the text that is written in this doc onto the Project Proposals page. https://docs.google.com/document/d/1-FfsgfpBlCXhjlx_9-04cFsMw-mRoekjqXn7x2qxpbk/edit?usp=sharing
- Design: https://www.figma.com/file/F9sI5Lw376V7hy5RGXUXNb/Pro

[2020-11-20 07:13] whitelionx commented on #931
@thesanjeevsharma is there an endpoint to which we can send the email?

[2020-11-20 07:20] thesanjeevsharma commented on #931
@whitelionx I'll ask BE team about this. Meanwhile, contibutors can start with the FE part of it.  API can be added later, before merging!

[2020-11-20 07:22] whitelionx commented on #931
Then I will grab this issue and prepare the frontend side of things and after you get the endpoint we can do an easy post request to store it 👍 @thesanjeevsharma

[2020-11-20 10:13] #818 closed

[2020-11-20 10:14] manishram commented on #934
Hey, @kristykjlee please update the design link. Either the link is private or broken.

[2020-11-20 10:22] alexkimeu0 opened #935 "Typos in the docs"
![1](https://user-images.githubusercontent.com/61450115/99789112-293b2300-2b33-11eb-9d51-6655048d6179.jpg)
![2](https://user-images.githubusercontent.com/61450115/99789131-2f310400-2b33-11eb-84fc-7c184371bfed.jpg)
![3](https://user-images.githubusercontent.com/61450115/99789146-322bf480-2b33-11eb-9d6d-b1063237fb7e.jpg)
![4](https://user-images.githubusercontent.com/61450115/99789162-33f5b800-2b33-

[2020-11-20 10:22] Hristijan95 commented on #932
@mersimoski , isn't this the same thing you mentioned yesterday?
There's also a centering problem on the desktop version (although it shouldn't be centered on the desktop, I think it's better to align the links to the right side).

[2020-11-20 10:26] mersimoski commented on #932
@Hristijan95 Yes, https://github.com/thenewboston-developers/Design/issues/26

[2020-11-20 10:30] Hristijan95 commented on #935
If possible, please take the time to take a look at the rest of the docs and fix any additional texts.
I will change the PR Reward to a higher amount if needed.

[2020-11-20 10:31] Hristijan95 commented on #932
Yep, gonna close this one as a duplicate.

[2020-11-20 10:31] #932 closed

[2020-11-20 10:33] alexkimeu0 commented on #935
Sure. I'll go through the rest.

On Fri, 20 Nov 2020, 13:30 Hristijan, <notifications@github.com> wrote:

[2020-11-20 11:04] mersimoski commented on #303
There's "outline: 0" to it but doesn't apply, and if we add !important it will remove the dots, if this is they way to fix it please assign it to me.

[2020-11-20 12:53] AbhayAysola commented on #934
I'm willing to try to do this, could I be assigned this issue?

[2020-11-20 13:48] jamessspanggg opened #936 "NaN reward"
**Bug Description**
There seems to be NaN reward when running TNB website locally.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Run TNB website locally
2. Visit tasks
3. View that some tasks have NaN reward

**Expected behavior**
No NaN reward

**Actual behavior**
Some tasks have NaN reward

**Screenshots/Recordings**
<img width="942" alt="Screen Shot 2020-11-20 at 9 46 16 PM" src="

[2020-11-20 14:41] #936 closed

[2020-11-20 14:49] whitelionx commented on #931
Is there any feedback from the BE, the FE is almost done, just optimizing stuff for other device widths as well @thesanjeevsharma

[2020-11-20 15:06] whitelionx commented on #931
![image](https://user-images.githubusercontent.com/31674307/99815187-45968a00-2b4a-11eb-9a5d-a38117f68c21.png)

[2020-11-20 15:18] thesanjeevsharma commented on #931
It's not available yet! You can submit a PR. We'll merge once the endpoint is ready.

[2020-11-20 15:33] whitelionx commented on #931
Thanks for the feedback, will push it soon @thesanjeevsharma

[2020-11-20 16:02] whitelionx commented on #931
I also prepared the mobile layout since it wasn't in the design, is this okay for mobile @kristykjlee
![image](https://user-images.githubusercontent.com/31674307/99821194-066c3700-2b52-11eb-92f2-749a29c46691.png)

[2020-11-20 19:09] osaroadade commented on #935
I would like to start working on this. Can I proceed?

[2020-11-20 20:10] VincentHch commented on #924
I can take this one. I should find all informations in the **Validator** and **Bank** repo. @charnysh-dev I'll reach you on Slack if I need further informations.

[2020-11-21 07:52] DrSparky-2007 commented on #890
I updated the code in HomeHero/index.tsx and have added [pull request #945](https://github.com/thenewboston-developers/Website/pull/945). One thing that I could've imporoved was the `fadeInOut()` since it uses a stack variable.